[Desktop Entry]
Type=Theme
Name=Default Theme (Dark variant)
Comment="Breeze" by Uri Herrera
Comment[ca]=«Brisa» per en Uri Herrera
Comment[ca@valencia]=«Brisa» per en Uri Herrera
Comment[cs]="Breeze" od Uri Herrera
Comment[da]="Breeze" af Uri Herrera
Comment[de]=„Breeze“ von Uri Herrera
Comment[el]="Breeze" από τον Uri Herrera
Comment[en_GB]="Breeze" by Uri Herrera
Comment[es]=«Breeze» de Uri Herrera
Comment[et]="Breeze" (autor Uri Herrera)
Comment[fi]=”Breeze” (Uri Herrera)
Comment[fr]=« Breeze » par Uri Herrera
Comment[gl]=«Breeze», de Uri Herrera
Comment[hu]=„Breeze”, készítette: Uri Herrera
Comment[is]="Breeze" eftir Uri Herrera
Comment[it]=«Brezza», di Uri Herrera
Comment[ko]=Uri Herrera의 "Breeze"
Comment[lt]=„Breeze“ autorius Uri Herrera
Comment[nl]="Breeze" door Uri Herrera
Comment[nn]=«Breeze» av Uri Herrera
Comment[pl]="Bryza" autorstwa Uri Herrera
Comment[pt]="Brisa" de Uri Herrera
Comment[pt_BR]="Breeze" por Uri Herrera
Comment[ru]=Тема «Breeze» от Uri Herrera
Comment[sk]="Vánok" od Uri Herrera
Comment[sl]=»Sapica« avtorja Urija Herrere
Comment[sr]=„Поветарац“ Урија Ерере
Comment[sr@ijekavian]=„Поветарац“ Урија Ерере
Comment[sr@ijekavianlatin]=„Povetarac“ Urija Erere
Comment[sr@latin]=„Povetarac“ Urija Erere
Comment[sv]="Breeze" av Uri Herrera
Comment[tr]=Uri Herrera tarafından "Breeze"
Comment[uk]=«Breeze», автор — Uri Herrera
Comment[x-test]=xx"Breeze" by Uri Herreraxx
Comment[zh_CN]=“Breeze”由 Uri Herrera 创作
Comment[zh_TW]=「Breeze」，作者 Uri Herrera
