[Desktop Entry]
Type=Theme
Name=Default Theme (Dark variant)
Name[ar]=السّمة المبدئية (تنويعة داكنة)
Name[bg]=Стандартна тема(тъмен вариант)
Name[ca]=Tema predeterminat (variant fosca)
Name[ca@valencia]=Tema predeterminat (variant fosca)
Name[cs]=Výchozí motiv (tmavá varianta)
Name[de]=Standard-Design (Dunkle Variante)
Name[el]=Προκαθορισμένο θέμα (Σκοτεινή παραλλαγή)
Name[en_GB]=Default Theme (Dark variant)
Name[eo]=Defaŭlta Etoso (Malhela varianto)
Name[es]=Tema predeterminado (Variante oscura)
Name[et]=Vaiketeema (tume variant)
Name[eu]=Gai lehenetsia (aldaera iluna)
Name[fi]=Oletusteema (tumma muunnelma)
Name[fr]=Thème par défaut (Variant de « Dark »)
Name[gl]=Tema predeterminado (variante escura)
Name[he]=ערכת ברירת המחדל (בהגוון כהה)
Name[hu]=Alapértelmezett téma (sötét változat)
Name[ia]=Thema predefinite (Variante Dark-Obscure)
Name[ie]=Tema predefinit (variant obscur)
Name[it]=Tema predefinito (variante scura)
Name[ka]=ნაგულისხმები თემა (მუქი ვარიანტი)
Name[ko]=기본 테마(어두운 파생형)
Name[lv]=Noklusējuma motīvs (tumšais variants)
Name[nl]=Standaardthema (donkere variant)
Name[nn]=Standardtema (mørk variant)
Name[pl]=Wygląd domyślny (tryb ciemny)
Name[pt]=Tema Predefinido (variante Escura)
Name[pt_BR]=Tema padrão (variação escura)
Name[ru]=Оформление по умолчанию (тёмный вариант)
Name[sk]=Štandardná téma (tmavý variant)
Name[sl]=Privzeta tema (Temna verzija)
Name[sv]=Standardtema (mörk variant)
Name[tr]=Öntanımlı Tema (Koyu Varyant)
Name[uk]=Типова тема (темний варіант)
Name[x-test]=xxDefault Theme (Dark variant)xx
Name[zh_CN]=默认主题 (深色版本)
Name[zh_TW]=預設主題（暗色版本）
Comment="Breeze" by Uri Herrera
Comment[ar]="نسيم" لِـ Uri Herrera
Comment[bg]="Breeze" by Uri Herrera
Comment[ca]=«Brisa» per en Uri Herrera
Comment[ca@valencia]=«Brisa» per en Uri Herrera
Comment[cs]="Breeze" od Uri Herrera
Comment[da]="Breeze" af Uri Herrera
Comment[de]=„Breeze“ von Uri Herrera
Comment[el]=«Breeze» από τον Uri Herrera
Comment[en_GB]="Breeze" by Uri Herrera
Comment[eo]="Breeze" de Uri Herrera
Comment[es]=«Breeze» de Uri Herrera
Comment[et]="Breeze" (autor Uri Herrera)
Comment[eu]=Uri Herrera-ren "Breeze"
Comment[fi]=”Breeze” (Uri Herrera)
Comment[fr]=« Breeze » par Uri Herrera
Comment[gl]=«Breeze», de Uri Herrera
Comment[he]=„בריזה” מאת אורי הררה
Comment[hu]=„Breeze”, készítette: Uri Herrera
Comment[ia]="Breeze" per Uri Herrera
Comment[it]=«Brezza», di Uri Herrera
Comment[ka]="Breeze" Uri Herrera-სგან
Comment[ko]=Uri Herrera의 "Breeze"
Comment[lt]=„Breeze“ autorius Uri Herrera
Comment[lv]=„Breeze“, Uri Herrera
Comment[nl]="Breeze" door Uri Herrera
Comment[nn]=«Breeze» av Uri Herrera
Comment[pl]="Bryza" autorstwa Uri Herrera
Comment[pt]="Brisa" de Uri Herrera
Comment[pt_BR]="Breeze" por Uri Herrera
Comment[ru]=тема «Breeze» от Uri Herrera
Comment[sk]="Vánok" od Uri Herrera
Comment[sl]=»Sapica« avtorja Urija Herrere
Comment[sr]=„Поветарац“ Урија Ерере
Comment[sr@ijekavian]=„Поветарац“ Урија Ерере
Comment[sr@ijekavianlatin]=„Povetarac“ Urija Erere
Comment[sr@latin]=„Povetarac“ Urija Erere
Comment[sv]="Breeze" av Uri Herrera
Comment[tr]=Uri Herrera tarafından “Esinti”
Comment[uk]=«Breeze», автор — Uri Herrera
Comment[x-test]=xx"Breeze" by Uri Herreraxx
Comment[zh_CN]=“Breeze”由 Uri Herrera 创作
Comment[zh_TW]=「Breeze」，作者 Uri Herrera
