[Desktop Entry]
Type=Theme
Name=Smiling Theme
Name[bg]=Тема "Усмивка"
Name[ca]=Tema Smiling
Name[cs]=Smajlíkové téma
Name[da]=Smilende tema
Name[de]=Smiley-Design
Name[el]=Θέμα χαμόγελου
Name[en_GB]=Smiling Theme
Name[es]=Tema «Smiling»
Name[et]=Naerusuuteema
Name[eu]="Smiling" gaia
Name[fr]=Thème Smiley
Name[ga]=Téama "Smiling"
Name[gl]=Tema de sorrisos
Name[hne]=मुस्कान प्रसंग
Name[hu]=Mosolygós téma
Name[it]=Tema sorridente
Name[km]=ស្បែក​ញញឹម
Name[lt]=Besišypsanti tema
Name[nb]=Smilende tema
Name[nds]=Smuustermuster
Name[nl]=Smiling-thema
Name[pa]=ਖੁਸ਼ ਥੀਮ
Name[pt]=Tema "Smiling"
Name[pt_BR]=Tema sorridente
Name[ro]=Tematică zîmbitoare
Name[ru]=Смайлики
Name[sv]=Leende tema
Name[tr]=Gülümseyen Tema
Name[uk]=Тема "Посмішки"
Name[x-test]=xxSmiling Themexx
Name[zh_CN]=笑脸主题
Name[zh_TW]=微笑
Comment="Smiling" stolen from Kopete by John Tapsell
Comment[bg]=Тема "Усмивка" е откраднато от Kopete от John Tapsell
Comment[ca]="Smiling" robat del Kopete per John Tapsell
Comment[cs]="Smajlíkové téma" od Johna Tapsella převzato z Kopete
Comment[da]="Smilende" stjålet fra Kopete af John Tapsell
Comment[de]=„Smiley“ geklaut bei Kopete von John Tapsell
Comment[el]="Χαμόγελο" κλεμμένο από το Kopete από John Tapsell
Comment[en_GB]="Smiling" stolen from Kopete by John Tapsell
Comment[es]=«Smiling» tomado de Kopete por John Tapsell
Comment[et]="Smiling" (Kopetest hiivas John Tapsell)
Comment[eu]=John Tapsell-ek Kopete-tik hartutako "Smiling"
Comment[fr]="Smiley" copié de Kopete par John Tapsell
Comment[ga]="Smiling", goidte ó Kopete ag John Tapsell
Comment[gl]=«Smiling» roubado de Kopete por John Tapsell
Comment[hne]="मुस्कान" जान टापसेल द्वारा केआप्टी से लाया गया
Comment[hu]="Mosolygós" - a Kopete-ből John Tapsell csente
Comment[it]=«Sorridente» (rubato da Kopete) di John Tapsell
Comment[km]="ញញឹម" យក​ពី Kopete ដោយ John Tapsell
Comment[lt]=„Besišypsanti tema“, John Tapsell pavogta iš Kopete programos
Comment[nb]=«Smilende» stjålet fra Kopete av  John Tapsell
Comment[nds]="Smuustern", muust bi Kopete vun John Tapsell
Comment[nl]="Smiling", overgenomen van Kopete, door John Tapsell
Comment[pt]="Smiling" retirado do Kopete por John Tapsell
Comment[pt_BR]="Sorridente" obtido do Kopete por John Tapsell
Comment[ro]=„Zîmbitoare” furată de la Kopete de John Tapsell
Comment[ru]=Украл у Kopete John Tapsell
Comment[sv]="Leende" stulen från Kopete av John Tapsell
Comment[tr]=John Tapsell tarafından Kopete uygulamasının "Gülümseyen" yüzleri
Comment[uk]="Посмішки" взято з Kopete, автор — John Tapsell
Comment[x-test]=xx"Smiling" stolen from Kopete by John Tapsellxx
Comment[zh_CN]="Smiling" stolen from Kopete by John Tapsell
Comment[zh_TW]=「微笑」，從 Kopete 「偷」來的，由 John Tapsell 提供
