[Desktop Entry]
Type=Theme
Name=Default Theme
Name[br]=Giz dre ziouer
Name[ca]=Tema per omissió
Name[cs]=Výchozí téma
Name[da]=Standardtema
Name[el]=Προκαθορισμένο θέμα
Name[es]=Tema por defecto
Name[et]=Vaiketeema
Name[fr]=Thème par défaut
Name[ga]=Téama Réamhshocraithe
Name[he]=ערכת בריבת מחדל
Name[hi]=डिफ़ॉल्ट प्रसंग
Name[it]=Tema predefinito
Name[lt]=Numatyta tema
Name[nl]=Standaardthema
Name[pa]=ਮੂਲ ਸਰੂਪ
Name[pt]=Tema Predefinido
Name[pt_BR]=Tema Predefinido
Name[ru]=Стандартная
Name[sr]=Подразумевана тема
Name[sr@Latn]=Podrazumevana tema
Name[sv]=Standardtema
Name[ta]=முன்னிருப்பு தலைப்பு
Name[tr]=Öntanımlı tema
Name[uk]=Типова тема
Name[xx]=xxDefault Themexx
Comment="Simplistic" by Shintaro Matsuoka
Comment[ca]="Simplistic" per Shintaro Matsuoka
Comment[cs]=Jednoduché téma od Shintara Matsuoky
Comment[da]="Simplistic" af Shintaro Matsuoka
Comment[el]="Απλοϊκό" από Shintaro Matsuoka
Comment[es]="Simplistic" por Shintaro Matsuoka
Comment[et]="Simplistic" (autor Shintaro Matsuoka)
Comment[fr]=« Simpliste » par Shintaro Matsuoka
Comment[ga]="Simplistic" le Shintaro Matsuoka
Comment[he]="מראה פשוט" של Shintaro Matsuoka
Comment[hi]="सिम्प्लिस्टिक" शिनतारो मात्सुओका द्वारा
Comment[it]="Simplistic" di Shintaro Matsuoka
Comment[lt]=„Supaprastinta“, sukurta Shintaro Matsuoka
Comment[nl]="Simplistic", door Shintaro Matsuoka
Comment[pt]="Simplistic" por Shintaro Matsuoka
Comment[pt_BR]="Simplistic" por Shintaro Matsuoka
Comment[sr]=„Једноставно“ од Шинтара Мацуоке (Shintaro Matsuoka)
Comment[sr@Latn]=„Jednostavno“ od Šintara Macuoke (Shintaro Matsuoka)
Comment[sv]="Förenklat" av Shintaro Matsuoka
Comment[ta]="Simplistic" ஷிண்டாரோ மாட்சொக்கா
Comment[tr]=Shintaro Matsuoka tarafından "Basitlik"
Comment[uk]="Проста" - Shintaro Matsuoka
Comment[xx]=xx"Simplistic" by Shintaro Matsuokaxx
Encoding=UTF-8

