[Desktop Entry]
Type=Theme
Name=Square Theme
Name[bg]=Тема "Квадрат"
Name[cs]=Square téma
Name[da]=Firkantet tema
Name[de]=Rechteck-Design
Name[el]=Τετράγωνο θέμα
Name[es]=Tema «Square»
Name[et]=Kandiline teema
Name[eu]="Square" gaia
Name[fr]=Thème Carrés
Name[ga]=Téama "Square"
Name[gl]=Tema de cadros
Name[it]=Tema quadrato
Name[km]=ស្បែក​ការេ
Name[lt]=Kvadratinė tema
Name[nb]=Kvadrat-tema
Name[nds]=Quadraat-Muster
Name[nl]=Vierkant thema
Name[pa]=ਵਰਗ ਥੀਮ
Name[pt]=Tema Quadrado
Name[pt_BR]=Tema quadrado
Name[ro]=Tematică pătrată
Name[ru]=Квадратики
Name[sv]=Kvadratiskt tema
Name[tr]=Kare Teması
Name[uk]=Тема "Квадрат"
Name[x-test]=xxSquare Themexx
Name[zh_CN]=方块主题
Name[zh_TW]=方塊
Comment="SQUARE" by Kenichiro Takahashi
Comment[bg]=Тема "Квадрат" от Kenichiro Takahashi
Comment[cs]="SQUARE" od Kenichiro Takahashi
Comment[da]="Firkantet" af Kenichiro Takahashi
Comment[de]=„Rechteck“ von Kenichiro Takahashi
Comment[el]="Τετράγωνο" από Kenichiro Takahashi
Comment[es]=«SQUARE» de Kenichiro Takahashi
Comment[et]="SQUARE" (autor Kenichiro Takahashi)
Comment[eu]=Kenichiro Takahashi-ren "SQUARE"
Comment[fr]="CARRÉS" par Kenichiro Takahashi
Comment[ga]="SQUARE" le Kenichiro Takahashi
Comment[gl]=«SQUARE» por Kenichiro Takahashi
Comment[it]=«Quadrato» di Kenichiro Takahashi
Comment[km]="ការេ" ដោយ Kenichiro Takahashi
Comment[lt]=„Kvadratinė tema“, sukurta Kenichiro Takahashi
Comment[nb]=«SQUARE» av Kenichiro Takahashi
Comment[nds]="Quadraat" vun Kenichiro Takahashi
Comment[nl]="SQUARE" door Kenichiro Takahashi
Comment[pt]="QUADRADO" por Kenichiro Takahashi
Comment[pt_BR]="QUADRADO" por Kenichiro Takahashi
Comment[ro]=„PĂTRAT” de Kenichiro Takahashi
Comment[ru]=Сделал Kenichiro Takahashi
Comment[sv]="KVADRATISK" av Kenichiro Takahashi
Comment[tr]=Kenichiro Takahashi tarafından "KARE"
Comment[uk]="КВАДРАТ" автор — Kenichiro Takahashi
Comment[x-test]=xx"SQUARE" by Kenichiro Takahashixx
Comment[zh_TW]=「方塊」，由 Kenichiro Takahashi 提供
