[Desktop Entry]
Type=Theme
Name=Square Theme
Name[ar]=سمة Square
Name[bg]=Тема "Квадрат"
Name[br]=Giz karrez
Name[ca]=Tema Square
Name[cs]=Square téma
Name[da]=Square tema
Name[de]=Rechteck-Design
Name[el]=Τετράγωνο θέμα
Name[es]=Tema «Square»
Name[et]=Kandiline teema
Name[fi]=Neliöteema
Name[fr]=Thème carré
Name[ga]=Téama "Square"
Name[gl]=Tema Cadrado
Name[he]=ערכה מרובעת
Name[it]=Tema quadrato
Name[ja]=四角
Name[ka]=კვადრატული გაფორმება
Name[lt]=Kvadratinė tema
Name[nl]=Vierkant thema
Name[pa]=ਵਰਗ ਸਰੂਪ
Name[pt]=Tema Quadrado
Name[pt_BR]=Tema Quadrado
Name[ru]=Квадратики
Name[sr]=Квадратна тема
Name[sr@Latn]=Kvadratna tema
Name[sv]=Kvadratiskt tema
Name[ta]=சதுர பொருள்
Name[tr]=Kare Teması
Name[uk]=Квадратна тема
Name[xx]=xxSquare Themexx
Name[zh_CN]=方块主题
Name[zh_TW]=方塊主題
Comment="SQUARE" by Kenichiro Takahashi
Comment[ar]="SQUARE" تأليف Kenichiro Takahashi
Comment[bg]=Тема "Квадрат" от Kenichiro Takahashi
Comment[br]=« SQUARE » gant Kenichiro Takahashi
Comment[ca]="SQUARE" per Kenichiro Takahashi
Comment[cs]="SQUARE" od Kenichiro Takahashi
Comment[da]="SQUARE" af Kenichiro Takahashi
Comment[de]="SQUARE" von Kenichiro Takahashi
Comment[el]="Τετράγωνο" από Kenichiro Takahashi
Comment[es]=«SQUARE» de Kenichiro Takahashi
Comment[et]="SQUARE" (autor Kenichiro Takahashi)
Comment[fi]="NELIÖT" (Kenichiro Takahashi)
Comment[fr]=« CARRÉ » par Kenichiro Takahashi
Comment[ga]="SQUARE" le Kenichiro Takahashi
Comment[gl]="Cadrado" por Kenichiro Takahashi
Comment[he]="ערכה מרובעת" של Kenichiro Takahashi
Comment[it]=«Quadrato» di Kenichiro Takahashi
Comment[ja]=Kenichiro Takahashi 作の四角いテーマ
Comment[ka]="კვადრატული" კენიჩირო ტაკაჰაშის მიერ
Comment[lt]=„Kvadratinė tema“, sukurta Kenichiro Takahashi
Comment[nl]="SQUARE" door Kenichiro Takahashi
Comment[pt]="QUADRADO" por Kenichiro Takahashi
Comment[pt_BR]="Quadrado" por Kenichiro Takahashi
Comment[ru]=Сделал Kenichiro Takahashi
Comment[sr]=„Квадрат“ од Кеничира Такахашија (Kenichiro Takahashi)
Comment[sr@Latn]=„Kvadrat“ od Keničira Takahašija (Kenichiro Takahashi)
Comment[sv]="KVADRATISK" av Kenichiro Takahashi
Comment[ta]="SQUARE" கெனிசிரோ டகாஹாஷி
Comment[tr]=Kenichiro Takahashi tarafından "KARE"
Comment[uk]="КВАДРАТ" - Kenichiro Takahashi
Comment[xx]=xx"SQUARE" by Kenichiro Takahashixx
Comment[zh_CN]=“方块”，由 Kenichiro Takahashi 设计
Comment[zh_TW]="方塊"主題，由 Kenichiro Takahashi 撰寫
