[Desktop Entry]
Type=Theme
Name=KDE 3 Default Theme
Name[ar]=سمة كِيدِي 3 الافتراضيّة
Name[bg]=Стандартна тема за KDE 3
Name[bs]=Podrazumijevana tema KDE‑a 3
Name[ca]=Tema per omissió del KDE 3
Name[ca@valencia]=Tema predeterminat de KDE 3
Name[cs]=Výchozí motiv KDE 3
Name[da]=KDE 3 standardtema
Name[de]=Standard-Design aus KDE 3
Name[el]=Προκαθορισμένο θέμα KDE 3
Name[en_GB]=KDE 3 Default Theme
Name[eo]=KDE 3 Defaŭlta Etoso
Name[es]=Tema predeterminado de KDE 3
Name[et]=KDE 3 vaiketeema
Name[eu]=KDE 3ren gai lehenetsia
Name[fi]=KDE 3-oletusteema
Name[fr]=Thème par défaut de KDE 3
Name[ga]=Téama Réamhshocraithe KDE 3
Name[gl]=Tema predeterminado de KDE3
Name[he]=ערכת ברירת המחדל של KDE3
Name[hu]=KDE 3 alapértelmezett téma
Name[ia]=Thema predefinite de KDE 3
Name[ie]=Tema predefinit de KDE 3
Name[it]=Tema predefinito di KDE 3
Name[ka]=KDE 3-ის ნაგულისხმები თემა
Name[kk]=KDE3 әдетті нақышы
Name[km]=ស្បែក​លំនាំដើម​របស់ KDE 3
Name[ko]=KDE 3 기본 테마
Name[lt]=KDE 3 numatytasis apipavidalinimas
Name[lv]=KDE 3 noklusējuma motīvs
Name[nb]=KDE 3 standardtema
Name[nds]=Standardmuster för KDE 3
Name[nl]=KDE 3 standaardthema
Name[nn]=KDE 3-standardtema
Name[pa]=KDE ੩ ਡਿਫਾਲਟ ਥੀਮ
Name[pl]=Domyślny wygląd KDE 3
Name[pt]=Tema Predefinido do KDE 3
Name[pt_BR]=Tema padrão KDE 3
Name[ru]=Оформление по умолчанию в KDE3
Name[si]=KDE 3 පෙරනිමි තේමාව
Name[sk]=Predvolená téma KDE 3
Name[sl]=Privzeta tema za KDE 3
Name[sq]=Tema e Parazgjedhur e KDE 3
Name[sr]=Подразумевана тема КДЕ‑а 3
Name[sr@ijekavian]=Подразумијевана тема КДЕ‑а 3
Name[sr@ijekavianlatin]=Podrazumijevana tema KDE‑a 3
Name[sr@latin]=Podrazumevana tema KDE‑a 3
Name[sv]=KDE 3 standardtema
Name[tr]=KDE3 Öntanımlı Teması
Name[uk]=Типова тема KDE 3
Name[x-test]=xxKDE 3 Default Themexx
Name[zh_CN]=KDE 3 默认主题
Name[zh_TW]=KDE 3 預設主題
Comment="Simplistic" by Shintaro Matsuoka
Comment[ar]="بساطة" لِـ Shintaro Matsuoka
Comment[bg]="Опростена" от Shintaro Matsuoka
Comment[bs]=„Jednostavno“ Šintara Macuoke
Comment[ca]=«Simplista» per en Shintaro Matsuoka
Comment[ca@valencia]=«Simplista» per en Shintaro Matsuoka
Comment[cs]="Jednoduchý motiv" od Shintara Matsuoky
Comment[da]="Simplificeret" af Shintaro Matsuoka
Comment[de]=„Standard“ von Shintaro Matsuoka
Comment[el]=«Απλοϊκό» από Shintaro Matsuoka
Comment[en_GB]=Simplistic by Shintaro Matsuoka
Comment[eo]="Simplisma" de Shintaro Matsuoka
Comment[es]=«Simplistic» de Shintaro Matsuoka
Comment[et]="Simplistic" (autor Shintaro Matsuoka)
Comment[eu]="Sinplista", Shintaro Matsuoka
Comment[fi]=”Yksinkertainen” (Shintaro Matsuoka)
Comment[fr]=« Simpliste » par Shintaro Matsuoka
Comment[ga]="Simplistic" le Shintaro Matsuoka
Comment[gl]=«Simplistic» por Shintaro Matsuoka
Comment[he]=„מראה פשוט” מאת שינטארו מטסואוקה
Comment[hne]="सिंप्लिस्टिक" शिनतारो मात्सुओका द्वारा
Comment[hu]=„Egyszerű” - Shintaro Matsuoka
Comment[ia]="Simplistic" per Shintaro Matsuoka
Comment[it]=«Simplistic» di Shintaro Matsuoka
Comment[ka]="Simplistic" Shintaro Matsuoka-სგან
Comment[kk]=Shintaro Matsuoka келтірген "Қарапайымдық"
Comment[km]="Simplistic" ដោយ Shintaro Matsuoka
Comment[ko]=Shintaro Matsuoka의 "간단함"
Comment[lt]=„Supaprastinta“, sukurta Shintaro Matsuoka
Comment[lv]=„Vienkāršs“, Shintaro Matsuoka
Comment[nb]=«Simplistic» av Shintaro Matsuoka
Comment[nds]="Eenfach" vun Shintaro Matsuoka
Comment[nl]="Simplistic", door Shintaro Matsuoka
Comment[nn]=«Simplistic» av Shintaro Matsuoka
Comment[pl]="Uproszczony" autorstwa Shintaro Matsuoka
Comment[pt]="Simplistic" por Shintaro Matsuoka
Comment[pt_BR]="Simplista" de Shintaro Matsuoka
Comment[ro]=„Simplist” de Shintaro Matsuoka
Comment[ru]=тема «Simplistic» от Shintaro Matsuoka
Comment[si]=Shintaro Matsuoka විසින් "Simplistic" 
Comment[sk]="Simplistic" od Shintaro Matsuoka
Comment[sl]=Shintaro Matsuoka: "Enostavno"
Comment[sq]="Simplistic" nga Shintaro Matsuoka
Comment[sr]=„Једноставно“ Шинтара Мацуоке
Comment[sr@ijekavian]=„Једноставно“ Шинтара Мацуоке
Comment[sr@ijekavianlatin]=„Jednostavno“ Šintara Macuoke
Comment[sr@latin]=„Jednostavno“ Šintara Macuoke
Comment[sv]="Förenklat" av Shintaro Matsuoka
Comment[tr]=Shintaro Matsuoka tarafından “Basitlik”
Comment[uk]=«Спрощена», автор — Shintaro Matsuoka
Comment[x-test]=xx"Simplistic" by Shintaro Matsuokaxx
Comment[zh_CN]="极简主题" 由 Shintaro Matsuoka 创作
Comment[zh_TW]=「單純」，由 Shintaro Matsuoka 提供
