[Desktop Entry]
Type=Theme
Name=KDE 3 Default Theme
Name[ar]=السِمة الإفتراضية
Name[bg]=Стандартна тема
Name[br]=Giz dre ziouer
Name[ca]=Tema per omissió
Name[cs]=Výchozí téma
Name[da]=Standardtema
Name[de]=Standard-Design
Name[el]=Προκαθορισμένο θέμα
Name[es]=Tema predeterminado
Name[et]=Vaiketeema
Name[fi]=Oletusteema
Name[fr]=Thème par défaut
Name[ga]=Téama Réamhshocraithe
Name[gl]=Tema por omisión
Name[he]=ערכת ברירת מחדל
Name[hi]=डिफ़ॉल्ट प्रसंग
Name[it]=Tema predefinito
Name[ja]=標準テーマ
Name[ka]=ნაგულისხმები გაფორმება
Name[lt]=Numatyta tema
Name[nl]=Standaardthema
Name[pa]=ਮੂਲ ਸਰੂਪ
Name[pt]=Tema Predefinido
Name[pt_BR]=Tema Padrão
Name[ru]=Стандартная
Name[sr]=Подразумевана тема
Name[sr@Latn]=Podrazumevana tema
Name[sv]=Standardtema
Name[ta]=முன்னிருப்பு தலைப்பு
Name[tr]=Öntanımlı tema
Name[uk]=Типова тема
Name[xx]=xxDefault Themexx
Name[zh_CN]=默认页面
Name[zh_TW]=預設主題
Comment="Simplistic" by Shintaro Matsuoka
Comment[ar]="Simplistic" من Shintaro Matsuoka
Comment[bg]="Опростена" от Shintaro Matsuoka
Comment[ca]="Simplistic" per Shintaro Matsuoka
Comment[cs]=Jednoduché téma od Shintara Matsuoky
Comment[da]="Simplistic" af Shintaro Matsuoka
Comment[de]="Simplistic" von Shintaro Matsuoka
Comment[el]="Απλοϊκό" από Shintaro Matsuoka
Comment[es]=«Simplistic» de Shintaro Matsuoka
Comment[et]="Simplistic" (autor Shintaro Matsuoka)
Comment[fi]="Yksinkertainen" (Shintaro Matsuoka)
Comment[fr]=« Simpliste » par Shintaro Matsuoka
Comment[ga]="Simplistic" le Shintaro Matsuoka
Comment[gl]="Simples" por Shintaro Matsuoka
Comment[he]="מראה פשוט" של Shintaro Matsuoka
Comment[hi]="सिम्प्लिस्टिक" शिनतारो मात्सुओका द्वारा
Comment[it]=«Simplistic» di Shintaro Matsuoka
Comment[ja]=Shintaro Matsuoka 作のシンプルなテーマ
Comment[ka]="Simplistic" შინტარო მაცუოკას მიერ
Comment[lt]=„Supaprastinta“, sukurta Shintaro Matsuoka
Comment[nl]="Simplistic", door Shintaro Matsuoka
Comment[pt]="Simplistic" por Shintaro Matsuoka
Comment[pt_BR]="Simplista" de Shintaro Matsuoka
Comment[sr]=„Једноставно“ од Шинтара Мацуоке (Shintaro Matsuoka)
Comment[sr@Latn]=„Jednostavno“ od Šintara Macuoke (Shintaro Matsuoka)
Comment[sv]="Förenklat" av Shintaro Matsuoka
Comment[ta]="Simplistic" ஷிண்டாரோ மாட்சொக்கா
Comment[tr]=Shintaro Matsuoka tarafından "Basitlik"
Comment[uk]="Проста" - Shintaro Matsuoka
Comment[xx]=xx"Simplistic" by Shintaro Matsuokaxx
Comment[zh_CN]=“简洁”，由 Shintaro Matsuoka 设计
Comment[zh_TW]="Simplistic" 由 Shintaro Matsuoka 撰寫
