[Desktop Entry]
Type=Theme
Name=KDE 3 Default Theme
Name[da]=KDE 3 standardtema
Name[de]=Standard-Design aus KDE 3
Name[et]=KDE 3 vaiketeema
Name[nl]=KDE 3 standaardthema
Name[pt]=Tema Predefinido do KDE 3
Name[pt_BR]=Tema padrão KDE3
Name[sv]=KDE 3 standardtema
Name[uk]=Типова тема KDE 3
Name[zh_TW]=KDE 3 預設主題
Comment="Simplistic" by Shintaro Matsuoka
Comment[bg]="Опростена" от Shintaro Matsuoka
Comment[cs]="Jednoduché téma" od Shintara Matsuoky
Comment[da]="Simplificeret" af Shintaro Matsuoka
Comment[de]=„Standard“ von Shintaro Matsuoka
Comment[el]="Απλοϊκό" από Shintaro Matsuoka
Comment[en_GB]=Simplistic by Shintaro Matsuoka
Comment[es]=«Simplistic» de Shintaro Matsuoka
Comment[et]="Simplistic" (autor Shintaro Matsuoka)
Comment[eu]=Shintaro Matsuoka-ren "Simplistic"
Comment[fr]="Simpliste" par Shintaro Matsuoka
Comment[ga]="Simplistic" le Shintaro Matsuoka
Comment[gl]=«Simplistic» por Shintaro Matsuoka
Comment[hne]="सिंप्लिस्टिक" शिनतारो मात्सुओका द्वारा
Comment[km]="Simplistic" ដោយ Shintaro Matsuoka
Comment[lt]=„Supaprastinta“, sukurta Shintaro Matsuoka
Comment[nds]="Eenfach" vun Shintaro Matsuoka
Comment[nl]="Simplistic", door Shintaro Matsuoka
Comment[pt]="Simplistic" por Shintaro Matsuoka
Comment[pt_BR]="Simplista" de Shintaro Matsuoka
Comment[ro]=„Simplist” de Shintaro Matsuoka
Comment[ru]=Сделал Shintaro Matsuoka
Comment[sv]="Förenklat" av Shintaro Matsuoka
Comment[tr]=Shintaro Matsuoka tarafından "Basitlik"
Comment[uk]="Спрощена", автор — Shintaro Matsuoka
Comment[x-test]=xx"Simplistic" by Shintaro Matsuokaxx
Comment[zh_TW]=「單純」，由 Shintaro Matsuoka 提供
