[Desktop Entry]
Type=Theme
Name=Smiling Theme
Name[el]=Θέμα χαμόγελου
Comment="Smiling" stolen from Kopete by John Tapsell
Comment[el]="Χαμόγελο" κλεμμένο από το Kopete από John Tapsell
Encoding=UTF-8
