[Desktop Entry]
Type=Theme
Name=Smiling Theme
Name[ar]=سمة ضاحِكة  ( Smiling )
Name[bg]=Тема "Усмивка"
Name[br]=Giz Mousc'hoarzh
Name[ca]=Tema Smiling
Name[cs]=Smajlíkové téma
Name[da]=Smilende tema
Name[de]=Smiley-Design
Name[el]=Θέμα χαμόγελου
Name[es]=Tema «Smiling»
Name[et]=Naerusuuteema
Name[fi]=Hymiöteema
Name[fr]=Thème sourire
Name[ga]=Téama "Smiling"
Name[gl]=Tema Sorrinte
Name[he]=ערכה מחייכת
Name[hi]=मुस्कुराता प्रसंग
Name[it]=Tema sorridente
Name[ja]=スマイリー
Name[ka]=მომღიმარი გაფორმება
Name[lt]=Besišypsanti tema
Name[nl]=Smiling-thema
Name[pa]=ਖੁਸ਼ ਸਰੂਪ
Name[pt]=Tema "Smiling"
Name[pt_BR]=Tema Sorridente
Name[ru]=Улыбочки
Name[sr]=Насмејана тема
Name[sr@Latn]=Nasmejana tema
Name[sv]=Leende tema
Name[ta]=சிரிக்கின்ற பொருள்
Name[tr]=Gülümseyen Tema
Name[uk]=Тема посмішок
Name[xx]=xxSmiling Themexx
Name[zh_CN]=微笑主题
Name[zh_TW]=微笑主題
Comment="Smiling" stolen from Kopete by John Tapsell
Comment[ar]=أخِذ "Smiling"  من Kopete من قِبل John Tapsell
Comment[bg]=Тема "Усмивка" е откраднато от Kopete от John Tapsell
Comment[ca]="Smiling" robat del Kopete per John Tapsell
Comment[cs]=Smajlíkové téma od Johna Tapsella převzato z Kopete
Comment[da]="Smilende" stjålet fra Kopete af John Tapsell
Comment[de]="Smiling" geklaut bei Kopete von John Tapsell
Comment[el]="Χαμόγελο" κλεμμένο από το Kopete από John Tapsell
Comment[es]=«Smiling» tomado de Kopete por John Tapsell
Comment[et]="Smiling" (Kopetest hiivas John Tapsell)
Comment[fi]="Hymiöteema" Kopetesta (John Tapsell)
Comment[fr]=« Sourire » volé à Kopete par John Tapsell
Comment[ga]="Smiling", goidte ó Kopete ag John Tapsell
Comment[gl]="Sorriso" roubado de Kopete por John Tapsell
Comment[he]="ערכה מחייכת" נגנבה מ־Kopete  על ידי John Tapsell
Comment[hi]="मुस्कान" को के-ऑप्टी से जॉन तापसेल द्वारा चुराया गया
Comment[it]=«Sorridente» rubato a Kopete da John Tapsell
Comment[ja]=John Tapsell 作の Kopete のテーマを借用
Comment[ka]="მომღიმარი" მოპარულია Kopete-დან ჯონ ტაპსელის მიერ
Comment[lt]=„Besišypsanti tema“, John Tapsell pavogta iš Kopete programos
Comment[nl]="Smiling", overgenomen van Kopete, door John Tapsell
Comment[pt]="Smiling" retirado do Kopete por John Tapsell
Comment[pt_BR]="Sorridente" roubado do Kopete por John Tapsell
Comment[ru]=Украл у Kopete John Tapsell
Comment[sr]=„Насмејано“ украо из Kopete-а Џон Тапсел (John Tapsell)
Comment[sr@Latn]=„Nasmejano“ ukrao iz Kopete-a Džon Tapsel (John Tapsell)
Comment[sv]="Leende" stulen från Kopete av John Tapsell
Comment[ta]=Kopeteல் இருந்து "Smiling" ஸ்டோலன் ஜான் டாப்செல்
Comment[tr]=John Tapsell tarafından Kopete'in "Gülümseyen"i
Comment[uk]="Посмішки" взято з Kopete - John Tapsell
Comment[xx]=xx"Smiling" stolen from Kopete by John Tapsellxx
Comment[zh_CN]=“微笑”，借鉴自 John Tapsell 为 Kopete 设计的造型
Comment[zh_TW]="微笑"主題，從 Kopete 偷來的，由 John Tapsell 撰寫
