[Desktop Entry]
Type=Theme
Name=Smiling Theme
Name[cs]=Smajlíkové téma
Name[da]=Smilende tema
Name[es]=Tema Smiling
Name[et]=Naerusuuteema
Name[fr]=Thème sourire
Name[he]=ערכה מחייכת
Name[hi]=मुस्कुराता प्रसंग
Name[it]=Tema sorridente
Name[nl]=Smiling-thema
Name[pa]=ਖੁਸ਼ ਸਰੂਪ
Name[pt]=Tema "Smiling"
Name[pt_BR]=Tema "Smiling"
Name[ru]=Улыбочки
Name[sr]=Насмејана тема
Name[sr@Latn]=Nasmejana tema
Name[sv]=Leende tema
Name[ta]=சிரிக்கின்ற பொருள்
Comment="Smiling" stolen from Kopete by John Tapsell
Comment[cs]=Smajlíkové téma od Johna Tapsella převzato z Kopete
Comment[da]="Smilende" stjålet fra Kopete af John Tapsell
Comment[es]="Smiling" tomado de Kopete por John Tapsell
Comment[et]="Smiling" (Kopetest hiivas John Tapsell)
Comment[fr]=« Sourire » volé à Kopete par John Tapsell
Comment[he]="ערכה מחייכת" נגנבה מ־Kopete  על ידי John Tapsell
Comment[hi]="मुस्कान" को के-ऑप्टी से जॉन तापसेल द्वारा चुराया गया
Comment[it]="Sorridente" rubato a Kopete da John Tapsell
Comment[nl]="Smiling", overgenomen van Kopete, door John Tapsell
Comment[pt]="Smiling" retirado do Kopete por John Tapsell
Comment[pt_BR]="Smiling" retirado do Kopete por John Tapsell
Comment[ru]=Украл у Kopete John Tapsell
Comment[sr]=„Насмејано“ украо из Kopete-а Џон Тапсел (John Tapsell)
Comment[sr@Latn]=„Nasmejano“ ukrao iz Kopete-a Džon Tapsel (John Tapsell)
Comment[sv]="Leende" stulen från Kopete av John Tapsell
Comment[ta]=Kopeteல் இருந்து "Smiling" ஸ்டோலன் ஜான் டாப்செல்
Encoding=UTF-8
