[Desktop Entry]
Type=Application
Exec=konversation -caption "%c" %i %m
Icon=konversation
DocPath=konversation/index.html
GenericName=IRC Chat
Terminal=false
Name=Konversation
Name[hi]=कनवर्सेसन
Name[ta]=உரையாடல்
Name[xx]=xxKonversationxx
Categories=Qt;KDE;Network;X-SuSE-IRCClient;
ServiceTypes=DCOP/InstantMessenger
X-DCOP-ServiceName=konversation
Encoding=UTF-8
