# KDE Config File

[Desktop Entry]
Type=Application
Exec=konversation -caption "%c" %i %m
Icon=konversation
MiniIcon=konversation
DocPath=konversation/index.html
GenericName=Internet Relay Chat Client
GenericName[da]=Internet Relay Chat klient
GenericName[pt]=Cliente de IRC
GenericName[pt_BR]=Cliente de bate-papo na Internet
GenericName[sv]=Internet Relay Chat-klient
GenericName[xx]=xxInternet Relay Chat Clientxx
Terminal=0
Name=Konversation
Name[pt_BR]=Konversação
Name[xx]=xxKonversationxx
