<!DOCTYPE kpartgui>
<kpartgui name="konversation" version="24">

  <MenuBar>
    <Menu name="file">
      <Action name="open_server_list" />
      <Action name="quick_connect_dialog" />
      <Separator />
      <Action name="join_channel" />
      <Separator />
      <Action name="toggle_away" />
    </Menu>
    <Menu name="edit">
      <Action name="clear_window" />
    </Menu>
    <Menu name="insert">
      <Text>&amp;Insert</Text>
      <Action name="irc_colors" />
      <Action name="insert_remember_line" />
      <Action name="insert_character" />
    </Menu>
    <Menu name="settings">
      <Action name="identities_dialog" append="save_merge" />
    </Menu>
    <Menu name="windows" append="settings_merge">
      <Text>&amp;Window</Text>
      <Action name="previous_tab" />
      <Action name="next_tab" />
      <Action name="close_tab" />
      <Action name="close_queries" />
      <Separator />
      <!-- only used with KMDI
      <Menu name="mdi_subwindow_mode">
        <Text>Child Window Mode</Text>
        <Action name="mdi_tabpage_mode" />
        <Action name="mdi_toplevel_mode" />
        <Action name="mdi_childframe_mode" />
        <Action name="mdi_ideal_mode" />
      </Menu>
      <Separator />-->
      <Action name="open_nicksonline_window" />
      <Action name="open_channel_list" />
      <Action name="open_url_catcher" />
      <Separator />
      <Action name="open_konsole" />
      <Action name="open_logfile" />
    </Menu>
  </MenuBar>

  <ToolBar fullWidth="true" hidden="true" name="mainToolBar">
    <Action name="quick_connect_dialog" />
    <separator />
    <Action name="toggle_away" />
    <separator />
    <Action name="irc_colors" />
  </ToolBar>

</kpartgui>

