<!DOCTYPE kpartgui>
<kpartgui name="konversation" version="14">

  <MenuBar>
    <Menu name="file">
      <Action name="open_server_list" />
      <Action name="quick_connect_dialog" />
    </Menu>
    <Menu name="actions">
      <Text>&amp;Actions</Text>
      <Action name="irc_colors" />
      <Action name="insert_remember_line" />
      <Separator />
      <Action name="clear_window" />
      <Action name="previous_tab" />
      <Action name="next_tab" />
      <Action name="close_tab" />
      <Action name="close_queries" />
    </Menu>
    <Menu name="windows">
      <Text>&amp;Window</Text>
      <Action name="open_nicksonline_window" />
      <Action name="open_channel_list" />
      <Action name="open_url_catcher" />
      <Separator />
      <Action name="open_konsole" />
      <Action name="open_logfile" />
    </Menu>
  </MenuBar>

  <ToolBar fullWidth="true" hidden="true" name="mainToolBar">
    <Action name="quick_connect_dialog" />
    <Action name="options_configure_key_binding" />
    <Action name="options_configure" />
    <separator />
    <Action name="irc_colors" />
  </ToolBar>

</kpartgui>
