<!DOCTYPE kpartgui>
<kpartgui name="konversation" version="0.4 $Id$">

  <MenuBar>
    <Menu name="file">
      <Action name="open_server_list" />
    </Menu>
    <Menu name="actions">
      <Text>Actions</Text>
    </Menu>
    <Menu name="windows">
      <Text>Windows</Text>
      <Action name="open_nicksonline_window" />
      <Action name="open_channel_list" />
      <Action name="open_konsole" />
      <Action name="open_url_catcher" />
    </Menu>
  </MenuBar>

  <ToolBar fullWidth="true" name="mainToolBar">
    <Action name="options_configure_key_binding" />
    <Action name="options_configure" />
  </ToolBar>

</kpartgui>
