[Desktop Entry]
Type=Theme
Name=Oxygen Theme
Name[ar]=سمة أكسجين
Name[bg]=Тема Oxygen
Name[ca]=Tema Oxygen
Name[ca@valencia]=Tema Oxygen
Name[cs]=Motiv Oxygen
Name[da]=Oxygen-tema
Name[de]=Oxygen-Design
Name[el]=Θέμα Oxygen
Name[en_GB]=Oxygen Theme
Name[eo]=Oksigena Etoso
Name[es]=Tema Oxygen
Name[et]=Oxygeni teema
Name[eu]=Oxygen gaia
Name[fi]=Oxygen-teema
Name[fr]=Thème Oxygen
Name[gl]=Tema Oxygen
Name[he]=ערכת חמצן
Name[hu]=Oxygen téma
Name[ia]=Thema de Oxygen
Name[ie]=Tema Oxygen
Name[it]=Tema Oxygen
Name[ka]=Oxygen -ის თემა
Name[ko]=Oxygen 테마
Name[lt]=Oxygen apipavidalinimas
Name[lv]=„Oxygen“ motīvs
Name[nl]=Oxygen-thema
Name[nn]=Oxygen-tema
Name[pl]=Wygląd tlenowy
Name[pt]=Tema Oxygen
Name[pt_BR]=Tema do Oxygen
Name[ru]=Oxygen
Name[sk]=Téma Oxygen
Name[sl]=Tema Kisik
Name[sr]=Тема Кисеоника
Name[sr@ijekavian]=Тема Кисеоника
Name[sr@ijekavianlatin]=Tema Kiseonika
Name[sr@latin]=Tema Kiseonika
Name[sv]=Oxygen-tema
Name[tr]=Oksijen Teması
Name[uk]=Тема «Oxygen»
Name[x-test]=xxOxygen Themexx
Name[zh_CN]=Oxygen 主题
Name[zh_TW]=Oxygen 外觀主題
Comment="Oxygen" by Nuno Pinheiro
Comment[ar]="أكسجين" لِـ Nuno Pinheiro
Comment[bg]="Oxygen" от Nuno Pinheiro
Comment[bs]=„Kiseonik“ Nuna Pinjeira
Comment[ca]=«Oxygen» per en Nuno Pinheiro
Comment[ca@valencia]=«Oxygen» per en Nuno Pinheiro
Comment[cs]="Oxygen" od Nuno Pinheiro
Comment[da]="Oxygen" af Nuno Pinheiro
Comment[de]=„Oxygen“ von Nuno Pinheiro
Comment[el]=«Oxygen» από Nuno Pinheiro
Comment[en_GB]="Oxygen" by Nuno Pinheiro
Comment[eo]="Oxygen" de Nuno Pinheiro
Comment[es]=«Oxygen» de Nuno Pinheiro
Comment[et]="Oxygen" (autor Nuno Pinheiro)
Comment[eu]="Oxygen", Nuno Pinheiro
Comment[fi]=”Oxygen” by Nuno Pinheiro
Comment[fr]=« Oxygen » par Nuno Pinheiro
Comment[gl]=«Oxygen» de Nuno Pinheiro
Comment[he]=„ערכת חמצן” מאת נונו פיניירו
Comment[hu]=„Oxygen” - Nuno Pinheiro
Comment[ia]="Oxygen" per Nuno Pinheiro
Comment[ie]=«Oxygen» de Nuno Pinheiro
Comment[it]=«Oxygen» di Nuno Pinheiro
Comment[ka]="Oxygen" Nuno Pinheiro-სგან
Comment[kk]=Nuno Pinheiro келтірген "Oxygen"
Comment[km]="អុកស៊ីសែន​" ដោយ Nuno Pinheiro
Comment[ko]=Nuno Pinheiro의 "Oxygen"
Comment[lt]="Oxygen" nuo Nuno Pinheiro
Comment[lv]=„Oxygen“, Nuno Pinheiro
Comment[nb]=«Oxygen» av Nuno Pinheiro
Comment[nds]="Oxygen" vun Nuno Pinheiro
Comment[nl]="Oxygen" door Nuno Pinheiro
Comment[nn]=«Oxygen» av Nuno Pinheiro
Comment[pl]="Tlen" autorstwa Nuno Pinheiro
Comment[pt]="Oxygen" de Nuno Pinheiro
Comment[pt_BR]="Oxygen" por Nuno Pinheiro
Comment[ru]=тема «Oxygen» от Nuno Pinheiro
Comment[si]=Nuno Pinheiro විසින් "ඔක්සිජන්"
Comment[sk]="Oxygen" od Nuno Pinheiro
Comment[sl]=Nuno Pinheiro: "Kisik"
Comment[sq]="Oxygen" nga Nuno Pinheiro
Comment[sr]=„Кисеоник“ Нуна Пињеира
Comment[sr@ijekavian]=„Кисеоник“ Нуна Пињеира
Comment[sr@ijekavianlatin]=„Kiseonik“ Nuna Pinjeira
Comment[sr@latin]=„Kiseonik“ Nuna Pinjeira
Comment[sv]="Oxygen" av Nuno Pinheiro
Comment[tr]=Nuno Pinheiro tarafından oluşturulan “Oksijen”
Comment[uk]=«Oxygen», автор — Nuno Pinheiro
Comment[x-test]=xx"Oxygen" by Nuno Pinheiroxx
Comment[zh_CN]="Oxygen" 由 Nuno Pinheiro 创作
Comment[zh_TW]=「Oxygen」，作者 Nuno Pinheiro
