[Desktop Entry]
Type=Theme
Name=Oxygen Theme
Name[da]=Oxygen-tema
Name[de]=Oxygen-Design
Name[es]=Tema «Oxígeno»
Name[et]=Oxygeni teema
Name[it]=Tema Oxygen
Name[ja]=Oxygen テーマ
Name[sr]=Кисеоник тема
Name[sr@Latn]=Kiseonik tema
Name[sv]=Oxygen-tema
Name[zh_TW]=Oxygen 主題
Comment="Oxygen" by Nuno Pinheiro
Comment[da]="Oxygen" af Nuno Pinheiro
Comment[de]="Oxygen" von Nuno Pinheiro
Comment[es]=«Oxígeno» de Nuno Pinheiro
Comment[et]="Oxygen" (autor Nuno Pinheiro)
Comment[it]=«Oxygen» di Nuno Pinheiro
Comment[ja]=Nuno Pinheiro 作の Oxygen テーマ
Comment[sr]=„Кисеоник“ од Нуна Пињеира
Comment[sr@Latn]=„Kiseonik“ od Nuna Pinjeira
Comment[sv]="Oxygen" av Nuno Pinheiro
Comment[zh_TW]="Oxygen"，由 Nuno Pinheiro 提供
