[Desktop Entry]
Type=Theme
Name=Christmas Theme
Name[br]=Giz Nedeleg
Name[cs]=Vánoční téma
Name[da]=Juletema
Name[es]=Tema navideño
Name[et]=Jõuluteema
Name[fr]=Thème de Noël
Name[he]=ערכת חג מולד
Name[it]=Tema natalizio
Name[nl]=Kerstthema
Name[pa]=ਕਰਿਸਮਿਸ ਸਰੂਪ
Name[pt]=Tema de Natal
Name[pt_BR]=Tema de Natal
Name[ru]=Рождественская
Name[sr]=Божићна тема
Name[sr@Latn]=Božićna tema
Name[sv]=Jultema
Name[ta]=கிறிஸ்துமஸ் பொருள்
Name[tr]=Noel Teması
Name[uk]=Різдвяна тема
Name[xx]=xxChristmas Themexx
Comment="Christmas Theme" by Kenichiro Takahashi
Comment[cs]=Vánoční téma od Kenichiro Takahashi
Comment[da]="Juletema" af Kenichiro Takahashi
Comment[es]="Tema navideño" por Kenichiro Takahashi
Comment[et]="Jõuluteema" (autor Kenichiro Takahashi)
Comment[fr]=« Thème de Noël » par Kenichiro Takahashi
Comment[ga]="Christmas Theme" le Kenichiro Takahashi
Comment[he]="ערכת חג מולד " של Kenichiro Takahashi
Comment[it]="Tema natalizio" di Kenichiro Takahashi
Comment[nl]="Christmas Theme" door Kenichiro Takahashi
Comment[pt]="Tema de Natal" por Kenichiro Takahashi
Comment[pt_BR]="Tema de Natal" por Kenichiro Takahashi
Comment[ru]=Сделал Kenichiro Takahashi
Comment[sr]=„Божићна тема“ од Кеничира Такахашија (Kenichiro Takahashi)
Comment[sr@Latn]=„Božićna tema“ od Keničira Takahašija (Kenichiro Takahashi)
Comment[sv]="Jultema" av Kenichiro Takahashi
Comment[ta]="Christmas Theme" கெனிசிரோ டகாஹாஷி
Comment[tr]=Kenichiro Takahashi tarafından "Noel Teması"
Comment[uk]="Різдвяна тема" - Kenichiro Takahashi
Comment[xx]=xx"Christmas Theme" by Kenichiro Takahashixx
Encoding=UTF-8

