[Desktop Entry]
Type=Theme
Name=Christmas Theme
Name[el]=Χριστουγεννιάτικο θέμα
Comment="Christmas Theme" by Kenichiro Takahashi
Comment[el]="Χριστουγεννιάτικο θέμα" από Kenichiro Takahashi
Encoding=UTF-8

