[Desktop Entry]
Name=Christmas Theme
Name[it]=Tema Natale!
Comment="Christmas Theme" by Kenichiro Takahashi
Comment[it]="Natale" di Kenichiro Takahashi
Encoding=UTF-8

