[Desktop Entry]
Type=Theme
Name=Classic Theme
Name[ca]=Tema clàssic
Name[cs]=Klasické téma
Name[da]=Klassisk tema
Name[es]=Tema clásico
Name[et]=Klassikaline teema
Name[fr]=Thème classique
Name[hi]=क्लासिक प्रसंग
Name[it]=Tema classico
Name[nl]=Klassiek thema
Name[pt]=Tema Clássico
Name[pt_BR]=Tema Clássico
Name[ru]=Классическая
Name[sr]=Класична тема
Name[sr@Latn]=Klasična tema
Name[sv]=Klassiskt tema
Name[ta]=சிறந்த தலைப்பு
Comment="LED" by Dario Abatianni
Comment[ca]="LED" per Dario Abatianni
Comment[da]="LED" af Dario Abatianni
Comment[es]="LED" por Dario Abatianni
Comment[et]="LED" (autor Dario Abatianni)
Comment[fr]=« LED » par Dario Abatianni
Comment[ga]="LED" le Dario Abatianni
Comment[hi]="एलईडी" दारियो अबातिआनी द्वारा
Comment[it]="LED" di Dario Abatianni
Comment[nl]="LED", door Dario Abatianni
Comment[pt]="LED" por Dario Abatianni
Comment[pt_BR]="LED" por Dario Abatianni
Comment[sr]=„LED“ од Дарија Абатијанија (Dario Abatianni)
Comment[sr@Latn]=„LED“ od Darija Abatijanija (Dario Abatianni)
Comment[sv]="Lampor" av Dario Abatianni
Comment[ta]="LED" டைரியோ அபடியானி
Encoding=UTF-8
