[Desktop Entry]
Type=Theme
Name=Classic Theme
Name[el]=Κλασικό θέμα
Comment="LED" by Dario Abatianni
Comment[el]="LED" από Dario Abatianni
Encoding=UTF-8
