[Desktop Entry]
Type=Theme
Name=Classic Theme
Name[ar]=سمة كلاسيكية
Name[bg]=Класическа тема
Name[br]=Giz da gustum
Name[ca]=Tema clàssic
Name[cs]=Klasické téma
Name[da]=Klassisk tema
Name[de]=Klassisches Design
Name[el]=Κλασικό θέμα
Name[es]=Tema clásico
Name[et]=Klassikaline teema
Name[fi]=Klassinen teema
Name[fr]=Thème classique
Name[ga]=Téama Clasaiceach
Name[gl]=Tema Clásico
Name[he]=הערכה הישנה והטובה
Name[hi]=क्लासिक प्रसंग
Name[it]=Tema classico
Name[ja]=クラシック
Name[ka]=კლასიკური გაფორმება
Name[lt]=Klasikinė tema
Name[nl]=Klassiek thema
Name[pa]=ਟਕਸਾਲੀ ਸਰੂਪ
Name[pt]=Tema Clássico
Name[pt_BR]=Tema Clássico
Name[ru]=Классическая
Name[sr]=Класична тема
Name[sr@Latn]=Klasična tema
Name[sv]=Klassiskt tema
Name[ta]=சிறந்த தலைப்பு
Name[tr]=Klasik tema
Name[uk]=Класична тема
Name[xx]=xxClassic Themexx
Name[zh_CN]=经典主题
Name[zh_TW]=傳統式主題
Comment="LED" by Dario Abatianni
Comment[ar]="LED" من Dario Abatianni
Comment[bg]="LED" от Dario Abatianni
Comment[br]=« LED » gant Dario Abatianni
Comment[ca]="LED" per Dario Abatianni
Comment[cs]=LED od Daria Abatianniho
Comment[da]="LED" af Dario Abatianni
Comment[de]="LED" von Dario Abatianni
Comment[el]="LED" από Dario Abatianni
Comment[es]=«LED» de Dario Abatianni
Comment[et]="LED" (autor Dario Abatianni)
Comment[fi]="LEDit" (Dario Abatianni)
Comment[fr]=« LED » par Dario Abatianni
Comment[ga]="LED" le Dario Abatianni
Comment[gl]="LED" led Dario Abatianni
Comment[he]="LED" של Dario Abatianni
Comment[hi]="एलईडी" दारियो अबातिआनी द्वारा
Comment[it]=«LED» di Dario Abatianni
Comment[ja]=Dario Abatianni 作の LED テーマ
Comment[ka]="LED" დარიო აბატიანის მიერ
Comment[lt]=„LED“, sukurta Dario Abatianni
Comment[nl]="LED", door Dario Abatianni
Comment[pt]="LED" por Dario Abatianni
Comment[pt_BR]="LED" de Dario Abatianni
Comment[sr]=„LED“ од Дарија Абатијанија (Dario Abatianni)
Comment[sr@Latn]=„LED“ od Darija Abatijanija (Dario Abatianni)
Comment[sv]="Lampor" av Dario Abatianni
Comment[ta]="LED" டைரியோ அபடியானி
Comment[tr]=Dario Abatianni tarafından "LED"
Comment[uk]="LED" - Dario Abatianni
Comment[xx]=xx"LED" by Dario Abatiannixx
Comment[zh_CN]=“指示灯”，由 Dario Abatianni 设计
Comment[zh_TW]="LED" 由 Dario Abatianni 撰寫
