[Desktop Entry]
Type=Theme
Name=Oxygen Theme
Name[it]=Tema Oxygen
Name[sv]=Oxygen-tema
Comment="Oxygen" by Nuno Pinheiro
Comment[it]=«Oxygen» di Nuno Pinheiro
Comment[sv]="Oxygen" av Nuno Pinheiro
Encoding=UTF-8
