[Desktop Entry]
Type=Theme
Name=Oxygen Theme
Name[de]=Oxygen-Design
Name[et]=Oxygeni teema
Name[it]=Tema Oxygen
Name[ja]=Oxygen テーマ
Name[sr]=Кисеоник тема
Name[sr@Latn]=Кисеоник тема
Name[sv]=Oxygen-tema
Comment="Oxygen" by Nuno Pinheiro
Comment[de]="Oxygen" von Nuno Pinheiro
Comment[et]="Oxygen" (autor Nuno Pinheiro)
Comment[it]=«Oxygen» di Nuno Pinheiro
Comment[ja]=Nuno Pinheiro 作の Oxygen テーマ
Comment[sr]=„Кисеоник“ од Нуња Пинеира
Comment[sr@Latn]=„Кисеоник“ од Нуња Пинеира
Comment[sv]="Oxygen" av Nuno Pinheiro
Encoding=UTF-8
