[Desktop Entry]
Type=Theme
Name=Tango Theme
Name[de]=Tango-Design
Name[es]=Tema «Tango»
Name[et]=Tango teema
Name[it]=Tema tango
Name[ja]=Tango テーマ
Name[nl]=Tango-thema
Name[pt]=Tema Tango
Name[pt_BR]=Tema Tango
Name[sr]=Танго тема
Name[sr@Latn]=Танго тема
Name[sv]=Tangotema
Name[xx]=xxTango Themexx
Comment="Tango" by the Tango Desktop Project and Sebastian Sariego B.
Comment[de]="Tango" vom Tango-Desktop-Projekt und Sebastian Sariego B.
Comment[es]=«Tango», del Proyecto de escritorio Tango y Sebastian Sariego B.
Comment[et]="Tango" (autor Tango Desktop Project ja Sebastian Sariego B)
Comment[it]="Tango", del progetto desktop Tango e Sebastian Sariego B.
Comment[ja]=Tango デスクトップ・プロジェクトおよび Sebastian Sariego B. 作の Tango テーマ
Comment[nl]="Tango", van het Tango Desktop-project en Sebastian Sariego B
Comment[pt]="Tango" do Projecto Tango e de Sebastian Sariego B.
Comment[pt_BR]="Tango" do Projecto Tango e de Sebastian Sariego B.
Comment[sr]=Танго од Танго десктоп пројекта и Себастијана Саријега
Comment[sr@Latn]=Танго од Танго десктоп пројекта и Себастијана Саријега
Comment[sv]="Tango" av Tango-skrivbordsprojektet och Sebastian Sariego B.
Comment[xx]=xx"Tango" by the Tango Desktop Project and Sebastian Sariego B.xx
Encoding=UTF-8
