[Desktop Entry]
Type=Application
Exec=konvi -caption "%c" %i
Icon=konversation
X-DocPath=konversation/index.html
GenericName=IRC Client
GenericName[ar]=زبون IRC
GenericName[bg]=IRC клиент
GenericName[br]=Kliant IRC
GenericName[ca]=Client IRC
GenericName[cs]=IRC klient
GenericName[cy]=Dibynnydd IRC
GenericName[da]=IRC-klient
GenericName[de]=IRC-Programm
GenericName[el]=Πελάτης IRC
GenericName[es]=Cliente de IRC
GenericName[et]=IRC klient
GenericName[ga]=Cliant IRC
GenericName[gl]=Cliente IRC
GenericName[he]=לקוח IRC
GenericName[it]=Client IRC
GenericName[ja]=IRC クライアント
GenericName[ka]=IRC საუბარი
GenericName[lt]=IRC klientas
GenericName[ms]=Klien IRC
GenericName[nl]=IRC-client
GenericName[pa]=IRC ਕਲਾਂਇਟ
GenericName[pt]=Cliente de IRC
GenericName[pt_BR]=Cliente IRC
GenericName[sr]=IRC клијент
GenericName[sr@Latn]=IRC klijent
GenericName[sv]=IRC-klient
GenericName[tr]=IRC İstemcisi
GenericName[uk]=Клієнт IRC
GenericName[xx]=xxIRC Clientxx
GenericName[zh_CN]=IRC 客户端
GenericName[zh_TW]=IRC 客戶端程式
Terminal=false
Name=Konversation
Name[hi]=कनवर्सेसन
Name[pa]=ਗੱਲਬਾਤ
Name[ta]=உரையாடல்
Name[xx]=xxKonversationxx
Categories=Qt;KDE;Network;IRCClient;
X-KDE-ServiceTypes=DBUS/InstantMessenger
X-DBUS-StartupType=Unique
