[Desktop Entry]
Type=Application
Exec=konversation -caption "%c" %i
Icon=konversation
X-DocPath=konversation/index.html
GenericName=IRC Client
GenericName[be]=Кліент IRC
GenericName[bg]=IRC клиент
GenericName[cs]=IRC klient
GenericName[da]=IRC-klient
GenericName[de]=IRC-Programm
GenericName[el]=Πελάτης IRC
GenericName[es]=Cliente de IRC
GenericName[et]=IRC klient
GenericName[eu]=IRC bezeroa
GenericName[fr]=Client IRC
GenericName[ga]=Cliant IRC
GenericName[gl]=Cliente de IRC
GenericName[hne]=आईआरसी क्लायंट
GenericName[km]=ម៉ាស៊ីន​ភ្ញៀវ IRC
GenericName[lt]=IRC klientas
GenericName[nb]=IRC-klient
GenericName[nds]=IRC-Client
GenericName[nl]=IRC-client
GenericName[pa]=IRC ਕਲਾਇਟ
GenericName[pt]=Cliente de IRC
GenericName[pt_BR]=Cliente IRC
GenericName[ro]=Client IRC
GenericName[ru]=Клиент IRC
GenericName[sv]=IRC-klient
GenericName[tr]=IRC İstemcisi
GenericName[uk]=Клієнт IRC
GenericName[x-test]=xxIRC Clientxx
GenericName[zh_CN]=IRC 客户端
GenericName[zh_TW]=IRC 客戶端程式
Terminal=false
Name=Konversation
Name[hi]=कनवर्सेसन
Name[hne]=कनवर्सेसन
Name[pa]=ਕੰਨਵਰਸ਼ੇਸ਼ਨ
Name[ro]=Konversație
Name[x-test]=xxKonversationxx
Categories=Qt;KDE;Network;IRCClient;
X-KDE-ServiceTypes=DBUS/InstantMessenger
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.konversation
