[Desktop Entry]
Encoding=UTF-8
Name=Test Shell Script
Name[af]=Toets Tolk Skrip
Name[ar]=نص سطر أوامر اختباري
Name[az]=Qabıq Skripti Sına
Name[bn]=শেল স্ক্রিপ্ট পরীক্ষণ
Name[bs]=Testna Shell skripta
Name[ca]=Script Shell de prova
Name[cs]=Testovací shellový skript
Name[cy]=Sgript Arbrofi Plisgyn
Name[da]=Test-skalscript
Name[de]=Shell-Skript testen
Name[el]=Έλεγχος σεναρίου κελύφους
Name[eo]=Testkomando
Name[es]=Script de prueba del intérprete de comandos
Name[et]=Test shelliskript
Name[eu]=Frogarako shelleko script-a
Name[fa]=آزمایش نگاره‌ی پوسته
Name[fi]=Testiskripti
Name[fo]=Nároyn skeljarit
Name[fr]=Script shell de test
Name[gl]=Probar Guión de Shell
Name[he]=תסריט מעטפת ניסיוני
Name[hi]=शेल स्क्रिप्ट जाँचें
Name[hr]=Probna shell-skripta
Name[hu]=Teszt-parancsfájl
Name[is]=Prófunar skeljarskrifta
Name[it]=Script Shell di prova
Name[ja]=テストシェルスクリプト
Name[lo]=ທົດສອບສະຄລິບເຊວ
Name[lt]=Testinis apvalkalo skriptas
Name[lv]=Testēt Čaulas Skriptu
Name[mk]=Тест на скрипта од школката
Name[mn]=Shell-Скрипт шалгагч
Name[mt]=Eżempju ta' skritt
Name[nb]=Testskallskript
Name[nds]=Test-Shellskript
Name[nn]=Testskript
Name[nso]=Leka Tshwaelo ya Legapi
Name[pa]=ਜਾਂਚ ਸ਼ੈਲ ਸਕ੍ਰਿਪਟ
Name[pl]=Testowy skrypt powłoki
Name[pt]=Shell Script de Teste
Name[pt_BR]=Script Shell de Teste
Name[ro]=Script de test
Name[ru]=Тестовый скрипт оболочки
Name[se]=Geahččaladdanskripta
Name[sk]=Testovací shell skript
Name[sl]=Poskusna ukazna lupina
Name[sr]=Скрипта шкољке за тестирање
Name[sr@Latn]=Skripta školjke za testiranje
Name[ss]=Hlola libhujku le Shell 
Name[sv]=Testa skalskript
Name[ta]=சோதனை ஷெல் எழுத்தாக்கம்
Name[tg]=Озмоиши нигораи пӯст
Name[th]=ทดสอบสคริปต์เชลล์
Name[tr]=Test Kabuk Betiği
Name[uk]=Тестовий скрипт
Name[uz]=Синов шелл скрипти
Name[ven]=Zwikiriputi zwa Mulingo wa Shele
Name[vi]=Thử Shell Script
Name[xh]=Vavanya Iqokobhe Lokushicilelweyo
Name[xx]=xxTest Shell Scriptxx
Name[zh_CN]=测试 Shell 脚本
Name[zh_TW]=測試命令列巨集
Name[zu]=Vivinya Isikript segobolondo
Comment=This is a demo script to show off the scripting interface to Konversation.

Type=ShellScript/bash
X-KDE-ScriptName=sample.sh
X-Konversation-Alias=sample

