[Desktop Entry]
Encoding=UTF-8
Name=Test Shell Script
Name[af]=Toets Tolk Skrip
Name[ar]=نص سطر أوامر اختباري
Name[az]=Qabıq Skripti Sına
Name[bn]=শেল স্ক্রিপ্ট পরীক্ষণ
Name[bs]=Testna Shell skripta
Name[ca]=Script Shell de prova
Name[cs]=Testovací shellový skript
Name[cy]=Sgript Arbrofi Plisgyn
Name[da]=Test-skalscript
Name[de]=Shell-Skript testen
Name[el]=Έλεγχος σεναρίου κελύφους
Name[eo]=Testkomando
Name[es]=Script de prueba del intérprete de comandos
Name[et]=Test shelliskript
Name[eu]=Frogarako shelleko script-a
Name[fa]=آزمایش نگاره‌ی پوسته
Name[fi]=Testiskripti
Name[fo]=Nároyn skeljarit
Name[fr]=Script shell de test
Name[gl]=Probar Guión de Shell
Name[he]=תסריט מעטפת ניסיוני
Name[hi]=शेल स्क्रिप्ट जाँचें
Name[hr]=Probna shell-skripta
Name[hu]=Teszt-parancsfájl
Name[is]=Prófunar skeljarskrifta
Name[it]=Script Shell di prova
Name[ja]=テストシェルスクリプト
Name[lo]=ທົດສອບສະຄລິບເຊວ
Name[lt]=Testinis apvalkalo skriptas
Name[lv]=Testēt Čaulas Skriptu
Name[mk]=Тест на скрипта од школката
Name[mn]=Shell-Скрипт шалгагч
Name[mt]=Eżempju ta' skritt
Name[nb]=Testskallskript
Name[nds]=Test-Shellskript
Name[nn]=Testskript
Name[nso]=Leka Tshwaelo ya Legapi
Name[pa]=ਜਾਂਚ ਸ਼ੈਲ ਸਕ੍ਰਿਪਟ
Name[pl]=Testowy skrypt powłoki
Name[pt]=Shell Script de Teste
Name[pt_BR]=Script Shell de Teste
Name[ro]=Script de test
Name[ru]=Тестовый скрипт оболочки
Name[se]=Geahččaladdanskripta
Name[sk]=Testovací shell skript
Name[sl]=Poskusna ukazna lupina
Name[sr]=Скрипта шкољке за тестирање
Name[sr@Latn]=Skripta školjke za testiranje
Name[ss]=Hlola libhujku le Shell 
Name[sv]=Testa skalskript
Name[ta]=சோதனை ஷெல் எழுத்தாக்கம்
Name[tg]=Озмоиши нигораи пӯст
Name[th]=ทดสอบสคริปต์เชลล์
Name[tr]=Test Kabuk Betiği
Name[uk]=Тестовий скрипт
Name[uz]=Синов шелл скрипти
Name[ven]=Zwikiriputi zwa Mulingo wa Shele
Name[vi]=Thử Shell Script
Name[xh]=Vavanya Iqokobhe Lokushicilelweyo
Name[xx]=xxTest Shell Scriptxx
Name[zh_CN]=测试 Shell 脚本
Name[zh_TW]=測試命令列巨集
Name[zu]=Vivinya Isikript segobolondo
Comment=This is a demo script to show off the scripting interface to Kate.
Comment[af]=Hierdie is 'n demo skrip na vertoon af die skrip koppelvlak na Kate.
Comment[ar]=هذا نص برمجي اختباري لتوضيح واجهة البرمجة لكيت
Comment[bg]=Демо на управлението на Kate чрез скриптове.
Comment[bn]=এটি একটি ডেমো স্ক্রিপ্ট যা কেট-এর স্ক্রিপ্টিং ইন্টারফেসের ক্ষমতা প্রদর্শন করে।
Comment[bs]=Ovo je demo skripta koja pokazuje skripting interfejs Kate-a.
Comment[ca]=Aquest és un script de demostració per a mostar la interfície d'scripts a Kate.
Comment[cs]=Toto je demonstrační skript předvádějící skriptovací rozhraní editoru Kate.
Comment[cy]=Hwn yw sgript arddangosol i ddangos y rhyngwyneb sgription i Kate.
Comment[da]=Dette er et demoscript til at vise Kates scriptgrænseflade.
Comment[de]=Demo-Skript für die Skript-Schnittstelle von Kate
Comment[el]=Αυτό είναι ένα σενάριο επίδειξης για να προβάλει τη διασύνδεση σεναρίων του Kate.
Comment[eo]=Tio estas demonstra programo por prezenti la programinterfacon de Kodredaktilo.
Comment[es]=Esta es una demo de script para mostar la interfaz de script a Kate
Comment[et]=Kate skriptimise liidese demoskript.
Comment[eu]=Hau demo script bat da Kateren scritpting interfazea ezkutatzeko.
Comment[fa]=این یک نگاره‌ی نمایشی برای نشان دادن واسط نگاره‌ی کیت است.
Comment[fi]=T.mä on esimerkkiskripti, joka esittelee Katen skriptirajapintaa
Comment[fr]=Ceci est un script d'essai pour illustrer l'interface de scriptage de Kate
Comment[gl]=Este é un guión de demostración para ocultar a interface de scripting de Kate.
Comment[he]=זהו תסריט הדגמה המציג את ממשק התסריטים של Kate
Comment[hi]=यह स्क्रिप्ट के-एटीई के स्क्रिप्टिंग इंटरफेस को दिखाने के लिए है.
Comment[hr]=Ovo je demonstracijska skripta koja pokazuje Kate sučelje za skripte.
Comment[hu]=Ez egy mintafjl a Kate szkript-kezelés lehetőségeinek bemutatásához
Comment[is]=Þessi skrifta er bara sýnishorn til að státa af skriftueiginleikum Kate ritilsins
Comment[it]=Questo è uno script dimostrativo per mostrare l'interfaccia di script di Kate.
Comment[ja]=Kateのスクリプトインターフェースのデモスクリプト
Comment[lo]=ນີ້ເປັນສະຄລິບຕົວຢ່າງເພືອ່ສະແດງການຕິດຕໍ່ສະຄລິບໄປຍັງKate
Comment[lt]=Tai yra demo skriptas, skirtas parodyti Kate skriptų sąsają.
Comment[lv]=Šis ir demo skripts, lai parādītu skriptēšanas saskarsmes virsmu uz Kate.
Comment[mk]=Ова е демо скрипта за да се прикаже интерфејсот за скриптирање на Kate
Comment[mn]= Kate-н скрипт-холболтыг харуулах туршилтын скрипт
Comment[mt]=Dan huwa skritt li jagħti dimostrazzjoni tal-interfaċċja għall-iskritti ta' Kate
Comment[nb]=Dette er et demoskript for å vise skriptgrensesnittet til Kate.
Comment[nds]=Demo-Skript, dat dat Skript-Interface vun Kate wiest.
Comment[nl]=Dit is een demo-script om de scripting-interface van Kate te tonen.
Comment[nn]=Dette er eit demoskript som viser skriptgrensesnittet mot Kate.
Comment[nso]=Ye ke tshwaelo ya demo go bontsha sefahlego sa tshwaelo go Kate.
Comment[pa]=ਇਹ ਫਰਜ਼ੀ ਸਕ੍ਰਿਪਟ ਹੈ ਜੋ ਕਿ ਇਹ ਵਿਖਾ ਰਹੀ ਹੈ ਕਿ ਕੇਂਟ ਵਿੱਚ ਸਕ੍ਰਿਪਟ ਇੰਟਰਫੇਸ ਕਿਸਤਰਾਂ ਹੈ।
Comment[pl]=Skrypt demonstrujący możliwości skryptowe Kate.
Comment[pt]=Este é um script para demonstrar a interface de 'scripting' do Kate.
Comment[pt_BR]=Este é um script de teste para exibir a interface de scripts para o Kate.
Comment[ro]=Acesta este un script demonstrativ pentru a înfăţişa interfaţa de scriptare Kate
Comment[ru]=Демонстрация интерфейса скриптов Kate
Comment[se]=Dát lea demoskripta mii čájeha Kate:a skriptalavtta.
Comment[sk]=Toto je demonštarčný skript pre pkážku skriptovacieho rozhrania Kate.
Comment[sl]=To je poskusni skript, ki prikazuje skriptni vmesnik do Kate.
Comment[sr]=Ово је демонстрациона скрипта која показује интерфејс за скрипте у Kate-у.
Comment[sr@Latn]=Ovo je demonstraciona skripta koja pokazuje interfejs za skripte u Kate-u.
Comment[sv]=Det här är ett demonstrationsskript för att visa skriptgränssnittet i Kate
Comment[ta]=Kate எழுத்தாக்கத்தை காண்பிப்பதற்கான விளக்க எழுத்தாக்கம்.
Comment[tg]= Ин як нигораи намоише барои нишон додани воситаи нигораи Kate аст.
Comment[th]=นี่เป็นสคริปต์ตัวอย่างเพื่อแสดงการติดต่อสคริปต์ไปยัง Kate
Comment[tr]=Bu Kate'e betikleme arabirimini göstermek için örnek bir betiktir.
Comment[uk]=Це - демо-скрипт для показу інтерфейсу скриптів в Kate.
Comment[ven]=Hetshi ndi tshikiriputi tsha demo u sumbedza Kate
Comment[vi]=Đây là script mẫu hiển thị các giao diện script của Kate
Comment[xh]=Oku kokushicilelweyo okuboniswayo ukubonisa ujongano olushicilelayo kwi Kate.
Comment[xx]=xxThis is a demo script to show off the scripting interface to Kate.xx
Comment[zh_CN]=这是一个演示 Kate 的脚本接口的示范脚本。
Comment[zh_TW]=這是一個用來顯示 Kate 的巨集界面的示範巨集。
Comment[zu]=Lesi isikript esingumboniso ukugabisa ngomxhumanisi wokubhala kwi-Kate.
Type=ShellScript/bash
X-KDE-ScriptName=sample.sh
