[Desktop Entry]
Type=Theme
Name=Big Bullets
Name[hi]=बिग बुलेट्स
Name[sr]=Велики предзнаци
Name[sr@Latn]=Veliki predznaci
Name[sv]=Stora punkter
Name[ta]=பெரிய புள்ளிகள்
Comment="Big Bullets" by Dario Abatianni
Comment[ca]="Big Bullets" per Dario Abatianni
Comment[da]="Big Bullets" af Dario Abatianni
Comment[es]="Big Bullets" por Dario Abatianni
Comment[hi]="बिग बुलेट्स" दारियो अबातिआनी द्वारा
Comment[it]="Big Bullets" di Dario Abatianni
Comment[nl]="Big Bullets", door Dario Abatianni
Comment[pt]="Big Bullets" por Dario Abatianni
Comment[pt_BR]="Big Bullets" por Dario Abatianni
Comment[sr]=„Велики предзнаци“ од Дарија Абатијанија (Dario Abatianni)
Comment[sr@Latn]=„Veliki predznaci“ od Darija Abatijanija (Dario Abatianni)
Comment[sv]="Stora punkter" av Dario Abatianni
Comment[ta]="Big Bullets" டாரியோ அபடையானி
Encoding=UTF-8

