[Desktop Entry]
Type=Theme
Name=Big Bullets
Name[sv]=Stora punkter
Comment="Big Bullets" by Dario Abatianni
Comment[it]="Big Bullets" di Dario Abatianni
Comment[nl]="Big Bullets", door Dario Abatianni
Comment[pt]="Big Bullets" por Dario Abatianni
Comment[pt_BR]="Big Bullets" por Dario Abatianni
Comment[sv]="Stora punkter" av Dario Abatianni
Encoding=UTF-8

