[Desktop Entry]
Name=Big Bullets
Comment="Big Bullets" by Dario Abatianni
Encoding=UTF-8

Name[xx]=Big Bullets
Comment[xx]="Big Bullets" by Dario Abatianni
