[Desktop Entry]
Type=Theme
Name=Default Theme
Name[bg]=Стандартна тема
Name[cs]=Výchozí téma
Name[da]=Standardtema
Name[de]=Standard-Design
Name[el]=Προκαθορισμένο θέμα
Name[es]=Tema predeterminado
Name[et]=Vaiketeema
Name[eu]=Gai lehenetsia
Name[fr]=Thème par défaut
Name[ga]=Téama Réamhshocraithe
Name[gl]=Tema predeterminado
Name[hne]=डिफाल्ट प्रसंग
Name[km]=ស្បែក​លំនាំដើម
Name[lt]=Numatyta tema
Name[nds]=Standardmuster
Name[nl]=Standaardthema
Name[pa]=ਡਿਫਾਲਟ ਥੀਮ
Name[pt]=Tema Predefinido
Name[pt_BR]=Tema padrão
Name[ro]=Tematica implicită
Name[ru]=Оформление по умолчанию
Name[sv]=Standardtema
Name[tr]=Öntanımlı Tema
Name[uk]=Типова тема
Name[x-test]=xxDefault Themexx
Name[zh_TW]=預設主題
Comment="Oxygen" by Nuno Pinheiro
Comment[da]="Oxygen" af Nuno Pinheiro
Comment[de]=„Oxygen“ von Nuno Pinheiro
Comment[nl]="Oxygen" door Nuno Pinheiro
Comment[pt]="Oxygen" de Nuno Pinheiro
Comment[pt_BR]="Oxygen" de Nuno Pinheiro
Comment[sv]="Oxygen" av Nuno Pinheiro
Comment[uk]=«Oxygen», автор — Nuno Pinheiro
