[Desktop Entry]
Type=Theme
Name=Default Theme
Name[ast]=Tema predetermináu
Name[bg]=Стандартна тема
Name[bs]=Podrazumijevana tema
Name[ca]=Tema per omissió
Name[ca@valencia]=Tema per omissió
Name[cs]=Výchozí motiv
Name[da]=Standardtema
Name[de]=Standard-Design
Name[el]=Προκαθορισμένο θέμα
Name[en_GB]=Default Theme
Name[es]=Tema predeterminado
Name[et]=Vaiketeema
Name[eu]=Gai lehenetsia
Name[fi]=Oletusteema
Name[fr]=Thème par défaut
Name[ga]=Téama Réamhshocraithe
Name[gl]=Tema predeterminado
Name[he]=ערכת ברירת מחדל
Name[hne]=डिफाल्ट प्रसंग
Name[hu]=Alapértelmezett téma
Name[ia]=Thema predefinite:
Name[it]=Tema predefinito
Name[kk]=Әдетті нақышы
Name[km]=ស្បែក​លំនាំដើម
Name[ko]=기본 테마
Name[lt]=Numatyta tema
Name[nb]=Standardtema
Name[nds]=Standardmuster
Name[nl]=Standaardthema
Name[pa]=ਡਿਫਾਲਟ ਥੀਮ
Name[pl]=Motyw domyślny
Name[pt]=Tema Predefinido
Name[pt_BR]=Tema padrão
Name[ro]=Tematica implicită
Name[ru]=Оформление по умолчанию
Name[si]=පෙරනිමි තේමාව
Name[sk]=Štandardná téma
Name[sl]=Privzeta tema
Name[sq]=Tema e Parazgjedhur
Name[sr]=Подразумевана тема
Name[sr@ijekavian]=Подразумијевана тема
Name[sr@ijekavianlatin]=Podrazumijevana tema
Name[sr@latin]=Podrazumevana tema
Name[sv]=Standardtema
Name[tr]=Öntanımlı Tema
Name[ug]=كۆڭۈلدىكى ئۆرنەك
Name[uk]=Типова тема
Name[x-test]=xxDefault Themexx
Name[zh_CN]=默认主题
Name[zh_TW]=預設主題
Comment="Oxygen" by Nuno Pinheiro
Comment[ast]=«Oxygen» de Nuno Pinheiro
Comment[bg]="Oxygen" от Nuno Pinheiro
Comment[bs]=„Kiseonik“ Nuna Pinjeira
Comment[ca]=«Oxygen» per Nuno Pinheiro
Comment[ca@valencia]=«Oxygen» per Nuno Pinheiro
Comment[cs]="Oxygen" od Nuno Pinheiro
Comment[da]="Oxygen" af Nuno Pinheiro
Comment[de]=„Oxygen“ von Nuno Pinheiro
Comment[el]="Oxygen" από Nuno Pinheiro
Comment[en_GB]="Oxygen" by Nuno Pinheiro
Comment[es]=«Oxygen» de Nuno Pinheiro
Comment[et]="Oxygen" (autor Nuno Pinheiro)
Comment[eu]="Oxygen", Nuno Pinheiro
Comment[fi]=”Oxygen” by Nuno Pinheiro
Comment[fr]=« Oxygen » par Nuno Pinheiro
Comment[gl]="Oxygen" de Nunu Pinheiro
Comment[he]=ערכת Oxygen של Nuno Pinheiro
Comment[hu]="Oxigén" - Nuno Pinheiro
Comment[it]=«Oxygen» di Nuno Pinheiro
Comment[kk]=Nuno Pinheiro келтірген "Oxygen"
Comment[km]="អុកស៊ីសែន​" ដោយ Nuno Pinheiro
Comment[ko]=Nuno Pinheiro의 "Oxygen"
Comment[lt]="Oxygen" nuo Nuno Pinheiro
Comment[nb]=«Oxygen» av Nuno Pinheiro
Comment[nds]="Oxygen" vun Nuno Pinheiro
Comment[nl]="Oxygen" door Nuno Pinheiro
Comment[pl]="Oxygen", autor: Nuno Pinheiro
Comment[pt]="Oxygen" de Nuno Pinheiro
Comment[pt_BR]="Oxygen" por Nuno Pinheiro
Comment[ru]=Сделал Nuno Pinheiro
Comment[si]=Nuno Pinheiro විසින් "ඔක්සිජන්"
Comment[sk]="Oxygen" od Nuno Pinheiro
Comment[sl]=Nuno Pinheiro: "Kisik"
Comment[sq]="Oxygen" nga Nuno Pinheiro
Comment[sr]=„Кисеоник“ Нуна Пињеира
Comment[sr@ijekavian]=„Кисеоник“ Нуна Пињеира
Comment[sr@ijekavianlatin]=„Kiseonik“ Nuna Pinjeira
Comment[sr@latin]=„Kiseonik“ Nuna Pinjeira
Comment[sv]="Oxygen" av Nuno Pinheiro
Comment[tr]=Nuno Pinheiro tarafından oluşturulan "Oxygen"
Comment[uk]=«Oxygen», автор — Nuno Pinheiro
Comment[x-test]=xx"Oxygen" by Nuno Pinheiroxx
Comment[zh_CN]="Oxygen" 由 Nuno Pinheiro 创作
Comment[zh_TW]=「Oxygen」，作者 Nuno Pinheiro
