[Desktop Entry]
Name=Default
Comment=The Konversation default UI package
Type=Service
Icon=konversation
X-KDE-ServiceTypes=Konversation/UiPackage

X-KDE-PluginInfo-Author=Eike Hein
X-KDE-PluginInfo-Email=hein@kde.org
X-KDE-PluginInfo-Name=org.kde.konversation.uipackages.default
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://konversation.kde.org/
X-KDE-PluginInfo-License=GPL v2+
