[Desktop Entry]
Type=Application
Exec=konversation -caption "%c" %i %m
Icon=konversation
DocPath=konversation/index.html
GenericName=IRC Chat
Terminal=false
Name=Konversation
Categories=Qt;KDE;Network;X-SuSE-IRCClient;
ServiceTypes=DCOP/InstantMessenger;DCOP/Unique
X-DCOP-ServiceName=konversation
X-DCOP-ServiceType=Unique
Encoding=UTF-8
