[Desktop Entry]
Type=Application
Exec=konversation -caption "%c" %i %m
Icon=konversation
DocPath=konversation/index.html
GenericName=IRC Client
GenericName[br]=Kliant IRC
GenericName[es]=Cliente IRC
GenericName[ga]=Cliant IRC
GenericName[it]=Client IRC
GenericName[pt]=Cliente de IRC
GenericName[pt_BR]=Cliente de IRC
GenericName[sv]=IRC-klient
Terminal=false
Name=Konversation
Name[hi]=कनवर्सेसन
Name[pa]=ਗੱਲਬਾਤ
Name[ta]=உரையாடல்
Name[xx]=xxKonversationxx
Categories=Qt;KDE;Network;X-SuSE-IRCClient;
ServiceTypes=DCOP/InstantMessenger;DCOP/Unique
X-DCOP-ServiceName=konversation
X-DCOP-ServiceType=Unique
Encoding=UTF-8
