[Desktop Entry]
Type=Application
Exec=konversation -caption "%c" %i %m
Icon=konversation
DocPath=konversation/index.html
GenericName=IRC Chat
GenericName[br]=Flapañ IRC
GenericName[cs]=IRC chat
GenericName[da]=IRC-chat
GenericName[es]=Charla IRC
GenericName[et]=IRC vestlus
GenericName[fr]=Discussion IRC
GenericName[ga]=Comhrá IRC
GenericName[he]=שיחת IRC
GenericName[it]=Chat IRC
GenericName[lt]=IRC pokalbiai
GenericName[nl]=IRC-conversatie
GenericName[pa]=IRC ਗੱਲਬਾਤ
GenericName[pt]=Conversas IRC
GenericName[pt_BR]=Conversas IRC
GenericName[ru]=Клиент IRC
GenericName[rw]=Ikiganiro IRC
GenericName[sr]=IRC ћаскање
GenericName[sr@Latn]=IRC ćaskanje
GenericName[sv]=IRC-chatt
GenericName[ta]=IRC அரட்டை
GenericName[tr]=IRC Sohbet
GenericName[uk]=Балачка IRC
GenericName[xx]=xxIRC Chatxx
Terminal=false
Name=Konversation
Name[hi]=कनवर्सेसन
Name[pa]=ਗੱਲਬਾਤ
Name[ta]=உரையாடல்
Name[xx]=xxKonversationxx
Categories=Qt;KDE;Network;X-SuSE-IRCClient;
ServiceTypes=DCOP/InstantMessenger;DCOP/Unique
X-DCOP-ServiceName=konversation
X-DCOP-ServiceType=Unique
Encoding=UTF-8
