[Desktop Entry]
Type=Theme
Name=Classic Theme
Name[be]=Класічная тэма
Name[bg]=Класическа тема
Name[cs]=Klasické téma
Name[de]=Klassisches Design
Name[el]=Κλασικό θέμα
Name[es]=Tema clásico
Name[et]=Klassikaline Teema
Name[eu]=Gai klasikoa
Name[fr]=Thème classique
Name[ga]=Téama Clasaiceach
Name[gl]=Tema clásico
Name[hi]=क्लासिक प्रसंग
Name[hne]=क्लासिक प्रसंग
Name[km]=ស្បែក​ក្លាស៊ីក
Name[lt]=Klasikinė tema
Name[nds]=Klass'sch Muster
Name[nl]=Klassiek thema
Name[pa]=ਕਲਾਸਿਕ ਥੀਮ
Name[pt]=Tema Clássico
Name[pt_BR]=Tema clássico
Name[ro]=Tematica clasică
Name[ru]=Классическая тема
Name[sv]=Klassiskt tema
Name[tr]=Klasik Tema
Name[uk]=Класична тема
Name[x-test]=xxClassic Themexx
Name[zh_TW]=傳統
Comment="LED" by Dario Abatianni
Comment[bg]="LED" от Dario Abatianni
Comment[cs]="LED" od Daria Abatianniho
Comment[de]=„LED“ von Dario Abatianni
Comment[el]="LED" από Dario Abatianni
Comment[es]=«LED» de Dario Abatianni
Comment[et]="LED" (autor Dario Abatianni)
Comment[eu]=Dario Abatianni-ren "LED"
Comment[fr]="LED" par Dario Abatianni
Comment[ga]="LED" le Dario Abatianni
Comment[gl]=«LED» por Dario Abatianni
Comment[hne]="एलईडी" दारियो अबातिनी द्वारा
Comment[km]="LED" ដោយ Dario Abatianni
Comment[lt]=„LED“, sukurta Dario Abatianni
Comment[nds]="LED" vun Dario Abatianni
Comment[nl]="LED", door Dario Abatianni
Comment[pt]="LED" por Dario Abatianni
Comment[pt_BR]="LED" de Dario Abatianni
Comment[ro]=„LED” de Dario Abatianni
Comment[ru]=Сделал Dario Abatianni
Comment[sv]="Lampor" av Dario Abatianni
Comment[tr]=Dario Abatianni tarafından "LED"
Comment[uk]="LED", автор — Dario Abatianni
Comment[x-test]=xx"LED" by Dario Abatiannixx
Comment[zh_TW]=「LED」，由 Dario Abatianni 提供
