[Desktop Entry]
Type=Theme
Name=Christmas Theme
Name[ar]=سمة Christmas
Name[bg]=Коледна тема
Name[br]=Giz Nedeleg
Name[ca]=Tema nadalenc
Name[cs]=Vánoční téma
Name[da]=Juletema
Name[de]=Weihnachtsdesign
Name[el]=Χριστουγεννιάτικο θέμα
Name[es]=Tema navideño
Name[et]=Jõuluteema
Name[fi]=Jouluteema
Name[fr]=Thème de Noël
Name[gl]=Tema de Nadal
Name[he]=ערכת חג מולד
Name[it]=Tema natalizio
Name[ja]=クリスマス
Name[ka]=საშობაო გაფორმება
Name[lt]=Kalėdinė tema
Name[nl]=Kerstthema
Name[pa]=ਕਰਿਸਮਿਸ ਸਰੂਪ
Name[pt]=Tema de Natal
Name[pt_BR]=Tema de Natal
Name[ru]=Рождественская
Name[sr]=Божићна тема
Name[sr@Latn]=Božićna tema
Name[sv]=Jultema
Name[ta]=கிறிஸ்துமஸ் பொருள்
Name[tr]=Noel Teması
Name[uk]=Різдвяна тема
Name[xx]=xxChristmas Themexx
Name[zh_CN]=耶诞节主题
Name[zh_TW]=聖誕主題
Comment="Christmas Theme" by Kenichiro Takahashi
Comment[ar]=سمة "Christmas Theme" من Kenichiro Takahashi
Comment[bg]="Коледна тема" от Kenichiro Takahashi
Comment[br]=« Giz Nedeleg » gant Kenichiro Takahashi
Comment[ca]="Tema nadalenc" per Kenichiro Takahashi
Comment[cs]=Vánoční téma od Kenichiro Takahashi
Comment[da]="Juletema" af Kenichiro Takahashi
Comment[de]="Christmas Theme" von Kenichiro Takahashi
Comment[el]="Χριστουγεννιάτικο θέμα" από Kenichiro Takahashi
Comment[es]=«Tema navideño» de Kenichiro Takahashi
Comment[et]="Jõuluteema" (autor Kenichiro Takahashi)
Comment[fi]="Jouluteema" (Kenichiro Takahashi)
Comment[fr]=« Thème de Noël » par Kenichiro Takahashi
Comment[ga]="Christmas Theme" le Kenichiro Takahashi
Comment[gl]="Tema de Nadal" por Kenichiro Takahashi
Comment[he]="ערכת חג מולד " של Kenichiro Takahashi
Comment[it]=«Tema natalizio» di Kenichiro Takahashi
Comment[ja]=Kenichiro Takahashi 作のクリスマステーマ
Comment[ka]="საშობაო გაფორმება" კენიჩირო ტაკაჰაშის მიერ
Comment[lt]=„Kalėdinė tema“, sukurta Kenichiro Takahashi
Comment[nl]="Christmas Theme" door Kenichiro Takahashi
Comment[pt]="Tema de Natal" por Kenichiro Takahashi
Comment[pt_BR]="Tema de Natal" de Kenichiro Takahashi
Comment[ru]=Сделал Kenichiro Takahashi
Comment[sr]=„Божићна тема“ од Кеничира Такахашија (Kenichiro Takahashi)
Comment[sr@Latn]=„Božićna tema“ od Keničira Takahašija (Kenichiro Takahashi)
Comment[sv]="Jultema" av Kenichiro Takahashi
Comment[ta]="Christmas Theme" கெனிசிரோ டகாஹாஷி
Comment[tr]=Kenichiro Takahashi tarafından "Noel Teması"
Comment[uk]="Різдвяна тема" - Kenichiro Takahashi
Comment[xx]=xx"Christmas Theme" by Kenichiro Takahashixx
Comment[zh_CN]=“耶诞节主题”，由 Kenichiro Takahashi 设计
Comment[zh_TW]="聖誕"主題，由 Kenichiro Takahashi 撰寫
