[Desktop Entry]
Type=Theme
Name=Christmas Theme
Name[bg]=Коледна тема
Name[cs]=Vánoční téma
Name[de]=Weihnachtsdesign
Name[el]=Χριστουγεννιάτικο θέμα
Name[es]=Tema navideño
Name[et]=Jõuluteema
Name[eu]=Gabonetako gaia
Name[fr]=Thème de Noël
Name[gl]=Tema de Nadal
Name[hne]=क्रिसमस थीम
Name[km]=ស្បែក​បុណ្យ​ណូអែល
Name[lt]=Kalėdinė tema
Name[nds]=Wiehnacht-Muster
Name[nl]=Kerstthema
Name[pa]=ਕ੍ਰਿਸਮਿਸ ਥੀਮ
Name[pt]=Tema de Natal
Name[pt_BR]=Tema de Natal
Name[ro]=Tematică de Crăciun
Name[ru]=Рождественская
Name[sv]=Jultema
Name[tr]=Noel Teması
Name[uk]=Різдвяна тема
Name[x-test]=xxChristmas Themexx
Name[zh_TW]=聖誕節
Comment="Christmas Theme" by Kenichiro Takahashi
Comment[bg]="Коледна тема" от Kenichiro Takahashi
Comment[cs]="Vánoční téma" od Kenichiro Takahashi
Comment[de]=„Weihnachtsdesign“ von Kenichiro Takahashi
Comment[el]="Χριστουγεννιάτικο θέμα" από Kenichiro Takahashi
Comment[es]=«Tema navideño» de Kenichiro Takahashi
Comment[et]="Jõuluteema" (autor Kenichiro Takahashi)
Comment[eu]=Kenichiro Takahashi-ren "Christmas Theme"
Comment[fr]="Thème de Noël" par Kenichiro Takahashi
Comment[ga]="Christmas Theme" le Kenichiro Takahashi
Comment[gl]=«Christmas Theme» por Kenichiro Takahashi
Comment[hne]="क्रिसमस थीम" केनिचिरो ताकाहाशी
Comment[km]="ស្បែក​បុណ្យ​ណូអែល" ដោយ Kenichiro Takahashi
Comment[lt]=„Kalėdinė tema“, sukurta Kenichiro Takahashi
Comment[nds]="Wiehnacht-Muster" vun Kenichiro Takahashi
Comment[nl]="Christmas Theme" door Kenichiro Takahashi
Comment[pt]="Tema de Natal" por Kenichiro Takahashi
Comment[pt_BR]="Tema de Natal" de Kenichiro Takahashi
Comment[ro]=„Tematică de Crăciun” de Kenichiro Takahashi
Comment[ru]=Сделал Kenichiro Takahashi
Comment[sv]="Jultema" av Kenichiro Takahashi
Comment[tr]=Kenichiro Takahashi tarafından "Noel Teması"
Comment[uk]="Різдвяна тема", автор — Kenichiro Takahashi
Comment[x-test]=xx"Christmas Theme" by Kenichiro Takahashixx
Comment[zh_TW]=「聖誕節」，由 Kenichiro Takahashi 提供
