[Desktop Entry]
Type=Theme
Name=Square Theme
Name[el]=Τετράγωνο θέμα
Comment="SQUARE" by Kenichiro Takahashi
Comment[el]="Τετράγωνο" από Kenichiro Takahashi
Encoding=UTF-8
