[Desktop Entry]
Type=Theme
Name=Square Theme
Name[da]=Square tema
Name[es]=Teme Square
Name[et]=Kandiline teema
Name[it]=Tema quadrato
Name[nl]=Vierkant thema
Name[pt]=Tema Quadrado
Name[pt_BR]=Tema Quadrado
Name[ru]=Квадратики
Name[sr]=Квадратна тема
Name[sr@Latn]=Kvadratna tema
Name[sv]=Kvadratiskt tema
Name[ta]=சதுர பொருள்
Comment="SQUARE" by Kenichiro Takahashi
Comment[da]="SQUARE" af Kenichiro Takahashi
Comment[es]="SQUARE" por Kenichiro Takahashi
Comment[et]="SQUARE" (autor Kenichiro Takahashi)
Comment[it]="Quadrato" di Kenichiro Takahashi
Comment[nl]="SQUARE" door Kenichiro Takahashi
Comment[pt]="QUADRADO" por Kenichiro Takahashi
Comment[pt_BR]="QUADRADO" por Kenichiro Takahashi
Comment[ru]=Сделал Kenichiro Takahashi
Comment[sr]=„Квадрат“ од Кеничира Такахашија (Kenichiro Takahashi)
Comment[sr@Latn]=„Kvadrat“ od Keničira Takahašija (Kenichiro Takahashi)
Comment[sv]="KVADRATISK" av Kenichiro Takahashi
Comment[ta]="SQUARE" கெனிசிரோ டகாஹாஷி
Encoding=UTF-8
